{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Add a new requirement
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new requirement</span>
    </h1>
  </div>

  <div class="alert alert-info">
    All fields marked with <span class="red">*</span> are required.<br>
    At least one metric is required.
  </div>

{% bootstrap_form_errors form %}
<form action="" method="post">
  {% csrf_token %}

  {% bootstrap_field form.name required_css_class='required' %}

  {% bootstrap_field form.note %}

  {% bootstrap_field form.dissemination required_css_class='required' addon_after='<a target="_blank" href="help#dissemination"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

  {% bootstrap_field form.quality_control_procedure required_css_class='required' addon_after='<a target="_blank" href="help#qualitycontrolprocedure"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

  {% bootstrap_field form.group required_css_class='required' addon_after='<a target="_blank" href="help#requirementgroup"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

  <label class="control-label">Uncertainty</label>

  {% include 'bits/metric_field.html' with name='uncertainty' initial=form %}

  <label class="control-label">Update Frequency</label>
  {% include 'bits/metric_field.html' with name='update_frequency' initial=form %}

  <label class="control-label">Timeliness</label>
  {% include 'bits/metric_field.html' with name='timeliness' initial=form %}

  <label class="control-label">Horizontal resolution</label>
  {% include 'bits/metric_field.html' with name='horizontal_resolution' initial=form %}

  <label class="control-label">Vertical resolution</label>
  {% include 'bits/metric_field.html' with name='vertical_resolution' initial=form %}

  <input class="btn btn-primary" type="submit" value="Save" />
</form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
