{% extends '_layout.html' %}
{% load static %}
{% load js %}
{% load utils %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/buttons.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Requirement details
{% endblock %}

{% block content %}
  {% has_user_perm requirement user as user_perm %}
  <div class="row">
    <span class="margin-left-btn">
      <a class="btn btn-default btn-sm" href="{% url 'requirement:list' %}">Back to requirement list</a>
    </span>
    <h1 class="col-sm-12">
      <span>Requirement details</span>

      {% if not user_groups|check_group:READ_ONLY_GROUP %}
        {% if requirement.state == 'draft' %}
          {% if request.user == requirement.created_by or request.user.is_superuser or request.user in requirement.created_by.team.teammates.all or user_perm %}
            <span class="pull-right">
              <a class="btn btn-primary pull-right"
                 href="{% url 'requirement:delete' requirement.pk %}">Delete requirement</a>
              <a class="btn btn-primary pull-right margin-right-5"
                 href="{% url 'requirement:edit' requirement.pk %}">Edit requirement</a>
            </span>
          {% endif %}
        {% endif %}
        <br>
        {% if user.is_authenticated %}
          <span class="pull-right">
            <a class="btn btn-primary pull-right"
              href="{% url 'requirement:add' %}?pk={{ requirement.pk }}">
              Clone requirement
            </a>
          </span>
        {% endif %}
      {% endif %}
    </h1>
  </div>


  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ requirement.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Note</th>
        <td class="col-md-8 col-sm-6">{{ requirement.note }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Dissemination
          <a target="_blank" href="/help#dissemination"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ requirement.dissemination }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Quality Control Procedure
          <a target="_blank" href="/help#qualitycontrolprocedure"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ requirement.quality_control_procedure }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Group
          <a target="_blank" href="/help#requirementgroup"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ requirement.group }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Status
          <a target="_blank" href="/help#status"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ requirement.status|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Uncertainty
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.uncertainty %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Update Frequency
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.update_frequency %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Timeliness
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.timeliness %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Scale
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.scale %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Horizontal resolution
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.horizontal_resolution %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Vertical resolution
          <a target="_blank" href="/help#metrics"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        {% include 'bits/metric.html' with metric=requirement.vertical_resolution %}
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Essential variables
          <a target="_blank" href="/help#essentialvariable"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">
          {% for essential_variable in requirement.essential_variables.all %}
            <p>{{ essential_variable }}</p>
          {% endfor %}
        </td>
      </tr>

      {% if user.is_authenticated %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">
            Owner
          </th>
          <td class="col-md-8 col-sm-6">{{ requirement.owner }}</td>
        </tr>
      {% endif %}

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          State
          <a target="_blank" href="/help#state"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">
          {{ requirement.state.title }}
          {% if not user_groups|check_group:READ_ONLY_GROUP and user.is_authenticated %}
            <div class="pull-right">
              {% if requirement.state == 'draft' %}
                {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary"
                     href="{% url 'requirement:transition' pk=requirement.pk source='draft' target='ready' transition='mark_as_ready' %}">
                    Mark as ready
                  </a>
                {% endif %}
              {% endif %}
              {% if requirement.state == 'ready' %}
                {% if request.user not in requirement.created_by.team.teammates.all %}
                  <a class="btn btn-primary"
                     href="{% url 'requirement:transition' pk=requirement.pk source='ready' target='valid' transition='validate' %}">
                    Mark as valid
                  </a>
                {% endif %}
                {% if requirement.created_by != request.user and request.user not in requirement.created_by.team.teammates.all and not user_perm %}
                  <a class="btn btn-primary"
                     href="{% url 'requirement:transition' pk=requirement.pk source='ready' target='changes' transition='request_changes' %}">
                    Request changes
                  </a>
                {% elif requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary"
                     href="{% url 'requirement:transition' pk=requirement.pk source='ready' target='draft' transition='cancel' %}">
                    Move back to draft
                  </a>
                {% endif %}
              {% endif %}
              {% if requirement.state == 'changes' %}
                {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary"
                     href="{% url 'requirement:transition' pk=requirement.pk source='changes' target='draft' transition='make_changes' %}">
                    Implement feedback
                  </a>
                {% endif %}
              {% endif %}
              {% if requirement.state == 'valid' %}
                {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary" href="{% url 'requirement:transition' pk=requirement.pk source='valid' target='draft' transition='revalidate' %}">
                    Move back to draft
                  </a>
                {% endif %}
              {% endif %}
            </div>
            {% if requirement.state != 'ready' and requirement.state != 'valid' %}
              {% if requirement.feedback %}
                <div class="alert alert-danger margin-top-5" role="alert">
                  <h5>Feedback:</h5>
                    {{ requirement.feedback|linebreaksbr }}
                </div>
                {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or user_perm %}
                  <form method="POST" action="{% url 'requirement:clear_feedback' requirement.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                      Clear feedback text
                    </button>
                  </form>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% if user.is_authenticated %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Created by</th>
          <td class="col-md-8 col-sm-6">{{ requirement.created_by.get_full_name }},
            <em>{{ requirement.created_by.email }}</em>
          </td>
        </tr>
        {% if requirement.owner_history %}
          <tr class="row">
            <th class="col-md-4 col-sm-6">Creators history</th>
            <td class="col-md-8 col-sm-6">
              {{ requirement.owner_history }}
            </td>
          </tr>
        {% endif %}
      {% endif %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Products</span>
      {% if not user_groups|check_group:READ_ONLY_GROUP %}
        {% if requirement.state == 'draft' %}
          {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or request.user.is_superuser or user_perm %}
          <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'requirement:product:add' requirement.pk %}">Add requirement to product</a>
        </span>
          <span class="pull-right">
          <a class="btn btn-primary pull-right margin-right-5" data-toggle="tooltip" title="Associates requirement to a product group, creating links between the requirement and all the products from that group." data-placement="left"
             href="{% url 'requirement:product:add_group' requirement.pk %}">
             Add requirement to product group</a>
        </span>
          {% endif %}
        {% endif %}
      {% endif %}
    </h3>
    <div class="col-sm-12">
      <table id="products"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Product</th>
          <th>Level of definition</th>
          <th>Relevant for</th>
          <th>Criticality</th>
          <th class="no-sort">Barriers</th>
          <th class="no-sort">Note</th>
          <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        {% for rel in requirement.product_requirements.all %}
          <tr>
            <td>
              <a
                href="{% url 'product:detail' rel.product.pk %}">{{ rel.product.name }}</a>
            </td>
            <td>{{ rel.level_of_definition }}</td>
            <td>{{ rel.relevance }}</td>
            <td>{{ rel.criticality }}</td>
            <td>
              {% for barrier in rel.barriers.all %}
                {% if forloop.last %}
                  <span>{{ barrier }}</span>
                {% else %}
                  <span>{{ barrier }},</span>
                {% endif %}
              {% endfor %}
            </td>
            <td>{{ rel.note }}</td>
            <td class="row">
              {% if not user_groups|check_group:READ_ONLY_GROUP %}
                {% if requirement.state == 'draft' %}
                  {% if rel.created_by == request.user  or request.user == requirement.created_by or request.user in rel.created_by.team.teammates.all or request.user.is_superuser or user_perm %}
                    <a href="{% url 'requirement:product:edit' requirement_pk=requirement.pk pk=rel.pk %}"
                       class="col-sm-6">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'requirement:product:delete' requirement_pk=requirement.pk pk=rel.pk %}"
                       class="col-sm-6">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Data</span>
      {% if not user_groups|check_group:READ_ONLY_GROUP %}
        {% if requirement.state == 'draft' %}
          {% if requirement.created_by == request.user or request.user in requirement.created_by.team.teammates.all or request.user.is_superuser or user_perm %}
            <span class="pull-right">
              <a class="btn btn-primary pull-right"
                 href="{% url 'requirement:data:add' requirement.pk %}">Add requirement to data</a>
            </span>
          {% endif %}
        {% endif %}
      {% endif %}
    </h3>
    <div class="col-sm-12">
      <table id="data"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Data</th>
          <th>Level of compliance</th>
          <th class="no-sort">Note</th>
          <th class="no-sort">Information costs</th>
          <th class="no-sort">Handling costs</th>
          <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        {% for rel in requirement.datarequirement_set.all %}
          <tr>
            <td>
              <a href="{% url 'data:detail' rel.data.pk %}">{{ rel.data }}</a>
            </td>
            <td> {{ rel.level_of_compliance }} </td>
            <td> {{ rel.note }} </td>
            <td>
              {% if rel.information_costs %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            <td>
              {% if rel.handling_costs %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            <td class="row">
              {% if not user_groups|check_group:READ_ONLY_GROUP %}
                {% if requirement.state == 'draft' %}
                  {% if request.user == rel.created_by or request.user == requirement.created_by or request.user in rel.created_by.team.teammates.all or request.user.is_superuser or user_perm %}
                    <a href="{% url 'requirement:data:edit' requirement_pk=requirement.pk pk=rel.pk %}" class="col-sm-6">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'requirement:data:delete' requirement_pk=requirement.pk pk=rel.pk %}" class="col-sm-6">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(function () {
      $('[data-toggle="popover"]').popover({
        trigger: 'hover',
      });

      var requirement_name = '{{ requirement.name | escapejs }}'
      var requirement_title = requirement_name
      requirement_name = requirement_name.split(' ').join('_')
      var table = $('#products').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "lengthMenu": [
          [ 10, 25, 50, -1 ],
          [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        "buttons": [{
          extend: 'pdf',
          exportOptions: { orthogonal: 'export' },
          text: 'Save as PDF',
          filename: 'CIS2_Requirement_' +  requirement_name + '_relation_with_products',
          title: 'CIS2 Requirement "' + requirement_title + '" relation with products',
          orientation: 'portrait',
          customize: function ( doc ){
            var cols = [];
            var created = new Date().toDateString();
            cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
            var objFooter = {};
            objFooter['columns'] = cols;
            doc['footer']=objFooter;
          }
        },
        {
          extend: 'excel',
          filename: 'CIS2_Requirement_' +  requirement_name + '_relation_with_products',
          title: 'CIS2 Requirement "' + requirement_title + '" relation with products',
          text: 'Save as Excel',
        },
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "drawCallback": function(settings) {
          var info = $(this).closest('.dataTables_wrapper').find('.dataTables_info');
          info.toggle(this.api().page.info().recordsDisplay > 9);
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    })
  </script>
  <script nonce="{{request.csp_nonce}}">
    $(function () {
      var requirement_name = '{{ requirement.name | escapejs }}'
      var requirement_title = requirement_name
      requirement_name = requirement_name.split(' ').join('_')
      var buttonCommon = {
        exportOptions: {
          format: {
            body: function ( data, row, column, node ){
              if (row === 3 || row == 4 ){
                if(data.indexOf('glyphicon-ok-circle') != -1){
                  return 'Yes'
                }
                else{
                  return 'No'
                }
              }
              if (row === 0){
                return $.parseHTML(data)[0].innerHTML
              }
              if (row == 5){
                return ''
              }
              return data
            }
          }
        }
      }
      var table = $('#data').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "buttons": [
          $.extend( true, {}, buttonCommon,{
            extend: 'pdf',
            exportOptions: { orthogonal: 'export' },
            text: 'Save as PDF',
            filename: 'CIS2_Requirement_' +  requirement_name + '_relation_with_data',
            title: 'CIS2 Requirement "' + requirement_title + '" relation with data',
            orientation: 'portrait',
            exportOptions: {
              modifier: {
                page: 'all'
              }
            },
              customize: function ( doc ){
              var cols = [];
              var created = new Date().toDateString();
              cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
              var objFooter = {};
              objFooter['columns'] = cols;
              doc['footer']=objFooter;
            }
        }),
        $.extend( true, {}, buttonCommon,{
          extend: 'excel',
          filename: 'CIS2_Requirement_' +  requirement_name + '_relation_with_data',
          title: 'CIS2 Requirement "' + requirement_title + '" relation with data',
          text: 'Save as Excel',
        }),
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "drawCallback": function(settings) {
          var info = $(this).closest('.dataTables_wrapper').find('.dataTables_info');
          info.toggle(this.api().page.info().recordsDisplay > 9);
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    })
  </script>
{% endblock %}
