{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Edit requirement {{ requirement.name }}
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit requirement</p>
      <p class="col-sm-12"><small>{{ requirement.name }}</small></p>
    </h1>
  </div>

{% bootstrap_form_errors form %}
<form action="" method="post">
  {% csrf_token %}
  {% bootstrap_field form.name %}

  {% bootstrap_field form.note %}

  {% bootstrap_field form.dissemination %}

  {% bootstrap_field form.quality %}

  {% bootstrap_field form.group %}

  <label class="control-label">Uncertainty</label>
  {% include 'bits/metric_field.html' with name='uncertainty' initial=form %}

  <label class="control-label">Update Frequency</label>
  {% include 'bits/metric_field.html' with name='update_frequency' initial=form %}

  <label class="control-label">Timeliness</label>
  {% include 'bits/metric_field.html' with name='timeliness' initial=form %}

  <label class="control-label">Horizontal resolution</label>
  {% include 'bits/metric_field.html' with name='horizontal_resolution' initial=form %}

  <label class="control-label">Vertical resolution</label>
  {% include 'bits/metric_field.html' with name='vertical_resolution' initial=form %}

  <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'requirement:detail' requirement.pk %}"
       class="btn btn-default">Cancel</a>
</form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
