{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <style>
    .container {
      width: auto !important;
    }

    .filters select {
      max-width: 120px;
      margin-right: 10px;
    }
  </style>
{% endblock %}

{% block title %}
  Requirements
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Requirements</span>
      <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'requirement:add' %}">New requirement</a>
        </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body form-inline filters">

          <div class="form-group">
            <label for="dissemination">Dissemination:</label>
            <select id="dissemination" class="form-control">
              {% for dissemination in disseminations %}
                <option value="{{ dissemination }}">{{ dissemination }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="quality_control_procedure">Quality Control Procedure:</label>
            <select id="quality_control_procedure" class="form-control">
              {% for quality in quality_control_procedures %}
                <option value="{{ quality }}">{{ quality }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="group">Group:</label>
            <select id="group" class="form-control">
              {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <select id="state" class="form-control">
              {% for state in states %}
                <option value="{{ state.name }}">{{ state.title }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm"
                    id="filter-btn">Filter
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-md"
                    id="reset-btn"><span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <table id="requirements" width="100%"
             class="table table-condensed table-bordered table-hover compact">
        <thead>
        <tr>
          <th>Name</th>
          <th>Dissemination</th>
          <th>Quality Control Procedure</th>
          <th>Group</th>
          <th>Uncertainty</th>
          <th>Update Frequency</th>
          <th>Timeliness</th>
          <th>Horizontal resolution</th>
          <th>Vertical resolution</th>
          <th>State</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fnFilterOnReturn.js' %}"></script>
  <script>
    $(document).ready(function () {
      var $table = $('#requirements').dataTable({
        "processing": true,
        "serverSide": true,
        "dom": "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "ajax": {
          "url": "{% url 'requirement:json' %}",
          "data": function (d) {
            d.dissemination = $('#dissemination').val();
            d.quality_control_procedure = $('#quality_control_procedure').val();
            d.group = $('#group').val();
            d.state = $('#state').val()
          }
        },
        "stateSave": true,
        "stateSaveParams": function(settings, data){
          data.dissemination = $('#dissemination').val();
          data.quality_control_procedure = $('#quality_control_procedure').val();
          data.group = $('#group').val();
          data.state = $('#state').val();
        },
        "stateLoadParams": function (settings, data) {
          $('#dissemination').val(data.dissemination);
          $('#quality_control_procedure').val(data.quality_control_procedure);
          $('#group').val(data.group);
          $('#state').val(data.state);
        },
        "columnDefs": [
          {
            "render": function (data, type, row) {
              function generate_div(color, data) {
                return "<div class='col-sm-12 " + color + " no-padding-left'>" + data +
                  "</div>";
              }

              var threshold = data.split('T: ').pop().split(' - B: ').shift();
              var breakthrough = data.split('B: ').pop().split(' - G: ').shift();
              var goal = data.split('G: ').pop();
              return (
                generate_div('green', threshold) +
                generate_div('blue', breakthrough) +
                generate_div('orange', goal));
            },
            "targets": [4, 5, 6, 7, 8],
            "bSortable": false
          }
        ]
      }).fnFilterOnReturn();

      $('#filter-btn').on('click', function () {
        var table = $table.DataTable();
        table.ajax.reload();
      });

      $('#reset-btn').on('click', function () {
        $('#dissemination,#quality_control_procedure,#group,#state').val('All');
        var table = $table.DataTable();
        table.ajax.reload();
        table.search('').draw();
      });
    });
  </script>
{% endblock %}
