{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Requirement change state
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">{{ requirement }}</h1>
    <h3 class="col-sm-12 text-muted">Mark requirement as {{ target }}</h3>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span class="glyphicon glyphicon-warning-sign text-danger"></span>
      If you change this requirement, the following objects will also be marked as
      <strong>{{ target }}</strong>.
    </div>
  </div>
  <div class="row">
    <ul class="col-sm-6 list-group">
      {% for item in objects %}
        <li class="list-group-item">
          <i>{{ item.type }}</i>
          <br>
          {{ item.obj }}
          {% if item.failed %}
            <span class="glyphicon glyphicon-remove-circle text-danger">
            </span>
            <span class="text-danger"> Complete the object
              <a href="{% url 'data:edit' item.obj.pk %}?ready" target="_blank">here</a>.
            </span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% if failed_validation %}
  <div class="row">
    <div class="alert alert-danger">
      You have Data objects that do not respect validation. Please correct and then you can proceed to the next step.
    </div>
  </div>
  {% endif %}
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit" {% if failed_validation %} disabled {% endif %}>
        Accept
      </button>
      <a class="btn btn-default"
         href="{% url 'requirement:detail' pk=requirement.pk %}">Cancel</a>
    </form>
  </div>
{% endblock %}
