{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Edit data group {{ object.name }}
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Edit data group {{ object.name }}</span>
    </h1>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'data_group:detail' object.pk %}"
       class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
