# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.coverage
htmlcov/
.cache

# virtualenv
venv/
sandbox/

# local settings
local_settings.py

# macOS specific files
*.DS_Store

# Logging
*.csv

# PyCharm conf
.idea/
.vscode

# Docker conf
docker-compose.override.yml

# Database dumps
*.sql

# Sphinx documentation
docs/_build/
docs/_templates/
docs/guide.html
