# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# virtualenv
venv/
sandbox/

# local settings
local_settings.py

# macOS specific files
*.DS_Store

# Docker conf
env/*.env
docker-compose.yaml

# PyCharm conf
.idea/