# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.coverage
htmlcov/

# virtualenv
venv/
sandbox/

# local settings
local_settings.py

# macOS specific files
*.DS_Store

# Logging
*.csv

# Docker conf
env/*.env
docker-compose.yml

# PyCharm conf
.idea/