services:
  web:
    build:
      args:
        REQFILE: requirements-dev.txt
    environment:
      - DEBUG=1
    depends_on:
      - elasticsearch
    ports:
      - 8000:8000
    volumes:
      - .:/var/local/copernicus

  cron:
    build:
      context: .
      args:
        REQFILE: requirements-dev.txt
    container_name: insitu.cron
    environment:
      - TZ=Europe/Bucharest
    depends_on:
      - db
    volumes:
      - static:/var/local/static
    entrypoint: ["./docker-entrypoint.cron.sh"]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.6.1
    container_name: insitu.elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  elasticsearch_test:
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g

  postfix:
    image: eaudeweb/mailtrap:2.0
    container_name: insitu.mailtrap
    environment:
      TZ: Europe/Copenhagen
    stdin_open: true
    tty: true
    ports:
    - 81:80
    labels:
      io.rancher.container.pull_image: always
      io.rancher.scheduler.affinity:host_label_ne: reserved=yes

  kibana:
    image: docker.elastic.co/kibana/kibana:6.6.1
    container_name: insitu.kibana
    ports:
      - 5601:5601

  db:
    ports:
      - "2345:5432"

volumes:
  esdata:
    driver: local
