version: '2'

services:
  app:
    build:
      context: .
      args:
        REQFILE: requirements-dev.txt
    ports:
    - 8000:8000
    volumes:
    - .:/var/local/copernicus
    entrypoint: ["/usr/bin/tail", "-f", "/dev/null"]
