version: '2'

services:
  app:
    image: insitu:devel
    container_name: insitu_app
    env_file:
    - env/postgres.env
    - env/app.env
    depends_on:
    - postgres
    - elasticsearch
    ports:
    - 8000:8000
    volumes:
    - .:/var/local/copernicus
    entrypoint: ["/usr/bin/tail", "-f", "/dev/null"]

  postgres:
    image: eeacms/postgres:9.5s
    container_name: insitu_postgres
    env_file:
    - env/postgres.env
    volumes:
    - postgresdata:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    container_name: insitu_elasticsearch
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200

  elasticsearch_test:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.4.1
    container_name: insitu_elasticsearch_test
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata_test:/usr/share/elasticsearch/data
    ports:
      - 9201:9201

volumes:
  postgresdata:
    driver: local
  esdata:
    driver: local
  esdata_test:
    driver: local
