version: '2'

services:
  app:
    build:
      context: .
      args:
        REQFILE: requirements-dev.txt
    volumes:
      - .:/var/local/copernicus
    entrypoint: ["/usr/bin/tail", "-f", "/dev/null"]
    #command: ["runserver", "0.0.0.0:5000"]
