django-csp
django-bootstrap3==15.0.0
django-datatables-view==1.20.0
django-docs==0.3.3
django-elasticsearch-dsl==6.5.0
django-fsm==2.8.1
django-guardian==2.4.0
django-hijack==2.4.0
django-sql-explorer==3.2.0
django-wkhtmltopdf==3.4.0
Django==3.2.20
reportlab==4.0.4
elasticsearch-dsl==6.4.0
openpyxl==3.1.2
psycopg2==2.9.7
pytz==2023.3
sentry-sdk==1.30.0
Sphinx==7.1.2
sphinxcontrib-websupport==1.2.4
XlsxWriter==3.1.2
flake8==6.1.0
black==23.7.0
