django-csp
django-advance-thumbnail==1.0.0
django-bootstrap3==15.0.0
django-datatables-view==1.20.0
django-docs==0.3.3
django-elasticsearch-dsl==6.5.0
django-environ==0.11.2
django-fsm==2.8.1
django-filter==23.5
django-guardian==2.4.0
django-hijack==3.4.5
django-markdownx==4.0.7
django-sql-explorer==3.2.1
django-wkhtmltopdf==3.4.0
Django==3.2.25
reportlab==4.0.8
elasticsearch-dsl==6.4.0
openpyxl==3.1.2
psycopg2==2.9.9
pytz==2023.3.post1
sentry-sdk==1.39.1
Sphinx==7.1.2
sphinxcontrib-websupport==1.2.4
XlsxWriter==3.1.9
flake8==6.1.0
black==23.12.0
