{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Add a new provider
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new data provider</span>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}

  <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.name required_css_class='required' %}

    {% bootstrap_field form.description %}

    {% bootstrap_field form.countries required_css_class='required' addon_after='<a target="_blank" href="help#country"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.networks %}

    {% bootstrap_field details.acronym %}

    {% bootstrap_field details.website %}

    {% bootstrap_field details.address %}

    {% bootstrap_field details.phone %}

    {% bootstrap_field details.email %}

    {% bootstrap_field details.contact_person %}

    {% bootstrap_field details.provider_type required_css_class='required' addon_after='<a target="_blank" href="help#providertype"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <input class="btn btn-primary" type="submit" value="Save" />
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
