{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Data Provider
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      {% if provider.state.name == 'draft' %}
        {% if request.user == provider.created_by or request.user.is_superuser or request.user in provider.created_by.team.teammates.all %}
          <span>Data provider </span>
          <span class="pull-right margin-left-btn">
        <a class="btn btn-primary pull-right"
           href="{% url 'provider:delete_non_network' provider.pk %}">Delete
          data provider</a>
        </span>
          <span class="pull-right">
        <a class="btn btn-primary pull-right"
           href="{% url 'provider:edit_non_network' provider.pk %}">
          Edit data provider
        </a>
        </span>
        {% endif %}
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ provider.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Description</th>
        <td class="col-md-8 col-sm-6">{{ provider.description }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Countries</th>
        <td class="col-md-8 col-sm-6">
          {% for country in provider.countries.all %}
            <span class="col-sm-12 no-padding-left">{{ country }}</span>
          {% endfor %}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Networks</th>
        <td class="col-md-8 col-sm-6">
          {% for network in provider.networks.all %}
            <span class="col-sm-12 no-padding-left">
                <a
                  href="{% url 'provider:detail' network.pk %}">{{ network.name }}</a>
              </span>
          {% empty %}
            <span class="col-sm-12 no-padding-left">-</span>
          {% endfor %}
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Acronym</th>
        <td class="col-md-8 col-sm-6">{{ provider.details.first.acronym }}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Website</th>
        <td class="col-md-8 col-sm-6">
          <a href="{{ provider.details.first.website }}" target="_blank">
            {{ provider.details.first.website }}
          </a>
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Address</th>
        <td class="col-md-8 col-sm-6">{{ provider.details.first.address }}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Phone</th>
        <td class="col-md-8 col-sm-6">
          <a href="tel:{{ provider.details.first.phone }}">
            {{ provider.details.first.phone }}
          </a>
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Email</th>
        <td class="col-md-8 col-sm-6">
          <a href="mailto:{{ provider.details.first.email }}" target="_top">
            {{ provider.details.first.email }}
          </a>
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Contact person</th>
        <td class="col-md-8 col-sm-6">
          {{ provider.details.first.contact_person }}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Provider type</th>
        <td class="col-md-8 col-sm-6">
          {{ provider.details.first.provider_type }}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">State</th>
        <td class="col-md-8 col-sm-6">{{ provider.state.title }}</td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Created by</th>
        <td class="col-md-8 col-sm-6">{{ provider.created_by.get_full_name }},
          <i>{{ provider.created_by.email }}</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% include 'data_provider/_data_table.html' %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script>
    $(function () {

      var table = $('#groups').dataTable({
        "dom": "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    });
  </script>
{% endblock %}
