{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Edit data provider
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit data provider</p>
      <p class="col-sm-12"><small>{{ provider.name }}</small></p>
    </h1>
  </div>

    {% include "bits/info_field_required.html" %}

  <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.name required_css_class='required' %}

    {% bootstrap_field form.edmo %}

    {% bootstrap_field details.provider_type required_css_class='required' addon_after='<a target="_blank" href="/help#providertype"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.description %}

    {% bootstrap_field form.countries required_css_class='required' addon_after='<a target="_blank" href="/help#country"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <input id="add_eu_28" class="btn btn-xs alert-info" style="display:block;margin-bottom:20px;" value="Add EU 28 countries"/>

    {% bootstrap_field form.networks %}

    {% bootstrap_field details.acronym %}

    {% bootstrap_field details.website %}

    {% bootstrap_field details.address %}

    {% bootstrap_field details.phone %}

    {% bootstrap_field details.email %}

    {% bootstrap_field details.contact_person %}

    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'provider:detail' provider.pk %}"
       class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').not('[name="networks"]').select2({
      });
      $('select[name="networks"]').select2({
        sorter: function(data) {
          /* Sort data using lowercase comparison */
          return data.sort(function (a, b) {
            a = a.text.toLowerCase();
            b = b.text.toLowerCase();
            if (a > b) {
              return 1;
            } else if (a < b) {
              return -1;
            }
            return 0;
          });
        },
      });

      eu_countries = [
      'AT', 'BE', 'BG', 'CZ', 'CY', 'DK', 'DE', 'EE', 'EL', 'ES', 'FI', 'FR',
      'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'LU', 'MT', 'NL', 'PL',
      'PT', 'RO', 'SI', 'SK', 'SE'
      ]
      input = $('#add_eu_28')
      input.click(function() {
        if (input.val() == 'Add EU 28 countries'){
          input.val('Remove EU 28 countries');
          var selected =  $('select[name="countries"]').select2("val");
          selected.push.apply(selected, eu_countries);
          $('select[name="countries"]').val(selected);
          $('select[name="countries"]').trigger('change');
        }
        else{
          input.val('Add EU 28 countries');
          var selected = $('select[name="countries"]').select2("val");
          for (var i = 0; i < eu_countries.length; i++) {
            selected = selected.filter(function(item){
              return item !== eu_countries[i]
            });
          }
          $('select[name="countries"]').val(selected);
          $('select[name="countries"]').trigger('change');
        };
      });
    });
  </script>
{% endblock %}
