{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Edit {{ rel.data.name }} - {{ rel.provider.name }} relation
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit relation</p>
      <p class="col-sm-12">
        <small>{{ rel.data.name }} - {{ rel.provider.name }}</small>
      </p>
    </h1>
  </div>

  {% bootstrap_form_errors form %}
  <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.data required_css_class='required' %}

    {% bootstrap_field form.provider required_css_class='required' %}

    {% bootstrap_field form.role required_css_class='required' %}

    <input type="hidden" name="data" value="{{ rel.data.pk }}" />
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{{ url }}"
       class="btn btn-default">Cancel</a>
  </form>
  {% bootstrap_form_errors form %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
