{% extends '_layout.html' %}

{% block title %}
  Data Responsible
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Data responsible</span>
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ responsible.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Description</th>
        <td class="col-md-8 col-sm-6">{{ responsible.description }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Countries</th>
        <td class="col-md-8 col-sm-6">
          {% for country in responsible.countries.all %}
            <span class="col-sm-12 no-padding-left">{{ country }}</span>
          {% endfor %}
        </td>
      </tr>

      {% if responsible.is_network %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Members</th>
          <td class="col-md-8 col-sm-6">
            {% for member in responsible.members.all %}
              <span class="col-sm-12 no-padding-left">{{ member.name }}</span>
            {% endfor %}
          </td>
        </tr>
      {% else %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Acronym</th>
          <td class="col-md-8 col-sm-6">{{ responsible.details.first.acronym }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Website</th>
          <td class="col-md-8 col-sm-6">{{ responsible.details.first.website }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Address</th>
          <td class="col-md-8 col-sm-6">{{ responsible.details.first.address }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Phone</th>
          <td class="col-md-8 col-sm-6">{{ responsible.details.first.phone }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Email</th>
          <td class="col-md-8 col-sm-6">{{ responsible.details.first.email }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Contact person</th>
          <td class="col-md-8 col-sm-6">
            {{ responsible.details.first.contact_person }}</td>
        </tr>
        <tr class="row">
          <th class="col-md-4 col-sm-6">Responsible type</th>
          <td class="col-md-8 col-sm-6">
            {{ responsible.details.first.get_responsible_type_display }}</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>

{% endblock %}
