<div class="row">
  <h3 class="col-sm-12">
    <span>Data</span>
  </h3>
  <div class="col-sm-12">
    <table id="groups"
           class="table table-condensed table-bordered table-hover">
      <thead>
      <tr>
        <th>Data</th>
        <th>
          Role
          <a target="_blank" href="/help#data_provider_roles"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Created on</th>
        <th>Last updated on</th>
      </tr>
      </thead>
      <tbody>
      {% for rel in provider.dataproviderrelation_set.all %}
        <tr>
          <td>
            <a href="{% url 'data:detail' rel.data.pk %}">{{ rel.data.name }}</a>
          </td>
          <td>{{ rel.get_role_display }}</td>
          <td>{{ rel.created_at }}</td>
          <td>{{ rel.updated_at }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
