<div class="row">
  <h3 class="col-sm-12">
    <span>Data</span>
    {% if request.user.service_resp or request.user.is_superuser %}
      <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'provider:group:add' provider.pk %}">Add data</a>
      </span>
    {% endif %}
  </h3>
  <div class="col-sm-12">
    <table id="groups"
           class="table table-condensed table-bordered table-hover">
      <thead>
      <tr>
        <th>Data</th>
        <th>Role</th>
        {% if request.user.is_superuser or request.user.service_resp %}
          <th class="no-sort" width="10%"></th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for rel in provider.dataproviderrelation_set.all %}
        <tr>
          <td>
            <a href="{% url 'data:detail' rel.data.pk %}">{{ rel.data.name }}</a>
          </td>
          <td>{{ rel.get_role_display }}</td>
          {% if request.user.is_superuser or request.user.service_resp %}
            <td class="row">
              <a href="{% url 'provider:group:edit' provider_pk=provider.pk pk=rel.pk %}"
                 class="col-sm-6">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
              <a href="{% url 'provider:group:delete' provider_pk=provider.pk pk=rel.pk %}"
                 class="col-sm-6">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
