{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Data Provider
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span class="">Data providers </span>
      {% if request.user.service_resp or request.user.is_superuser %}
        <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'provider:add_network' %}">New data provider network</a>
          <br>
          <a class="btn btn-primary pull-right"
             href="{% url 'provider:add_non_network' %}">New data provider</a>
        </span>
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-10">
      <table id="providers" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Acronym</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Contact person</th>
          <th>Provider type</th>
          <th>Is network?</th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="col-lg-2">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="is_network">Is network:</label>
            <select id="is_network" class="form-control">
              <option value="{{ ALL_OPTIONS_LABEL }}">All</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>

          <div class="form-group">
            <label for="provider_type">Provider type:</label>
            <select id="provider_type" class="form-control">
              {% for provider_type in provider_types %}
                <option value="{{ provider_type }}">
                  {{ provider_type }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary"
                    id="filter-btn">Filter
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default"
                    id="reset-btn">Reset all filters
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fnFilterOnReturn.js' %}"></script>
  <script>
    $(document).ready(function () {
      var $table = $('#providers').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "{% url 'provider:json' %}",
          "data": function (d) {
            d.is_network = $('#is_network').val();
            d.provider_type = $('#provider_type').val();
          }
        },
        "columnDefs": [
          {
            "render": function (data, type, row) {
              if (data) {
                return "<span class='glyphicon glyphicon-ok-circle " +
                  "text-success'></span>";
              }
              else {
                return "<span class='glyphicon glyphicon-remove-circle " +
                  "text-danger'></span>";
              }
            },
            "targets": [7],
            "bSortable": false
          }
        ]
      }).fnFilterOnReturn();

      $('#filter-btn').on('click', function () {
        var table = $table.DataTable();
        table.ajax.reload();
      });

      $('#reset-btn').on('click', function () {
        $('#is_network, #provider_type').val('All');
        var table = $table.DataTable();
        table.ajax.reload();
      });
    });
  </script>
{% endblock %}
