{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Data provider change state
{% endblock %}

{% block content %}
  <h1>{{ data_provider }}</h1>
  <div class="row">
    <h1 class="col-sm-12">{{ data_provider }}</h1>
    <h3 class="col-sm-12 text-muted">Mark data provider as {{ target }}</h3>
  </div>
  {% if objects %}
    <div class="row">
      <div class="col-sm-12">
        <span class="glyphicon glyphicon-warning-sign text-danger"></span>
        If you change this data provider, the following objects will also be marked as
        <strong>{{ target }}</strong>.
      </div>
    </div>
    <div class="row">
    <ul class="col-sm-6 list-group">
      {% for item in objects %}
        <li class="list-group-item">
          <i>{{ item.type }}</i>
          <br>
          {{ item.obj }}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <button class="btn btn-primary" type="submit">
        Accept
      </button>
      {# TODO an error occurs if I uncomment this line   #}
      <a class="btn btn-default"
         href="{% url 'provider:detail' provider.pk %}">Cancel</a>
    </form>
  </div>
{% endblock %}
