<!DOCTYPE html>
<html lang="en">
  <head>
    <title>500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta
      name="description"
      content="CIS2 is an open database designed to record the requirements of the Copernicus services,
              ESA, and EUMETSAT for in situ data."
    >
    {% if sentry_id %}
      <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
      <script nonce="{{request.csp_nonce}}">
      Raven.showReportDialog({
        eventId: '{{ sentry_id }}',
        dsn: '{{ sentry_dsn }}',
      });
      </script>
    {% endif %}
  </head>
  <body>
    <h1>Internal Server Error</h1>
  </body>
</html>

