{% load static %}
{% load hijack_tags %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css.map' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css.map' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    {% block style %}
    {% endblock %}

    <link rel="shortcut icon" href="{% static "/images/favicon.png" %}" type="image/x-icon" />

    <title>
    {% block title %}
    {% endblock %}
    </title>
    {% if sentry_public_id %}
    <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
    <script>
      Raven.config('{{ sentry_public_id }}').install()
      Raven.setUserContext({
        email: '{{ request.user.email }}',
        username: '{{ request.user.username }}',
        id: '{{ request.user.id }}',
      })
    </script>
    {% endif %}
    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109233404-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', {{ GOOGLE_ANALYTICS_PROPERTY_ID }});
      </script>
    {% endif %}

    {% if CRAZY_EGG %}
        <script type="text/javascript" src="{{ CRAZY_EGG }}" async="async"></script>
    {% endif %}
  </head>
  <body>
    {% hijack_notification %}
    {% include 'nav.html' %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
