{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css.map' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css.map' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% block style %}
    {% endblock %}

    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon" />

    <title>
    {% block title %}
    {% endblock %}
    </title>
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
