{% extends '_layout.html' %}
{% load static %}
{% load utils %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>About</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-newspaper" aria-hidden="true"></i>
      COPERNICUS IN SITU INFORMATION SYSTEM (CIS<sup>2</sup>)
    </div>
    <div class="pannel-body panel-body-current">
     <p>CIS<sup>2</sup> is an open database designed to record the requirements of the Copernicus services, ESA, and
      EUMETSAT for in situ data, how far they are met, the origin of each dataset, how each dataset is used,
      their importance, and the barriers to their seamless use, in order to provide a clear picture of what data
      is already available and what would be needed to deliver improved and more reliable products and
      monitoring services.</p>
     <p> The information derived from this database helps the main players (EU Commission, EEA, Copernicus
      governance bodies, Member States, etc.) to prioritise actions to further improve the availability, and
      sustainability of the necessary data. It also provides a basis for dialogue between these players and the
      Services about the definition of priorities.</p>
      <p>Across Copernicus as a whole, over 300 unique requirements have been identified, that have been linked to nearly 500 datasets and over 600 data providers; these datasets contribute to over 600 products.</p>
      <p>The following pages contain the detail contained in the database;</p>
      <ul>
        <li>Copernicus products to which In Situ data contribute</li>
        <li>What data are required for these products, including criteria for ranging from meeting minimum needs upwards</li>
        <li>Which datasets are used in practice, and </li>
        <li>The identity of the data providers.</li>
      </ul>
      <p>Requirements for In Situ data can be expected to increase as new Service elements are developed, and the database is kept under regular review.</p>
      <p>In situ data include:</p>
        <p>Geospatial data, such as topographic maps (natural land surface and man-made features), hydrography,
        settlements, transport networks and land cover, digital elevation models, and aerial imagery.</p>
        <p>Observations are non-satellite measurements of physical parameters. These are either direct
        measurements of properties like temperature, wind, ozone, air quality, vegetation properties, ocean
        salinity or ground based remote sensing data like soundings of the atmospheric composition.
        Observations are provided to Copernicus either as individual datasets or aggregated into gridded 2- or 3-
        dimensional analysis fields.</p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-newspaper" aria-hidden="true"></i>
      RELEASES
    </div>
    <div class="pannel-body pannel-body-overflow">
      {% for release in releases %}
        <div {% if release.current %}class="current"{% endif %}>
          <h4 class="font-weight-bold">{{ release.version }}</h4>
            {{ release.description|show_markdown|safe }}
        </div>
        {% if not forloop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  {% if request.user.is_authenticated %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-newspaper" aria-hidden="true"></i>
      Changelog
    </div>
    <div class="pannel-body pannel-body-overflow">
      {% for change_log in change_logs %}
      <div>
          <h4 class="font-weight-bold">{{ change_log.version }} ( {{ change_log.created_at }} )</h4>
          <ul>
            {{ change_log.description|safe }}
          </ul>
        </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}

{% if request.user.is_authenticated %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <i class="fa fa-newspaper" aria-hidden="true"></i>
      Statistics
    </div>
    <div class="pannel-body">
      <h4><span class="font-weight-bold">Logged users: <span>{{ logged_users }}</h4>
      <h4><span class="font-weight-bold">Registered users: <span>{{ registered_users }}</h4>
      <h4><span class="font-weight-bold">Products: <span>{{ products }}</h4>
      <h4><span class="font-weight-bold">Requirements: <span>{{ requirements }}</h4>
      <h4><span class="font-weight-bold">Data: <span>{{ data }}</h4>
      <h4><span class="font-weight-bold">Data providers: <span>{{ data_providers }}</h4>
    </div>
  </div>
{% endif %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/changelog.js' %}"></script>
{% endblock %}
