{% extends '_layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
  <h1>About</h1>

  <h3><b>&emsp;Statistics</b></h3>

  <div class="container">
    <h4>Logged users: {{ logged_users }}</h4>
    <h4>Registered users: {{ registered_users }}</h4>
    <h4>Products: {{ products }}</h4>
    <h4>Requirements: {{ requirements }}</h4>
    <h4>Data: {{ data }}</h4>
    <h4>Data providers: {{ data_providers }}</h4>
  </div>

  <h3><b>&emsp;Incidents</b></h3>

  <br>
  {% if issues and request.user.is_superuser %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last Occur</th>
          <th scope="col" style="text-align: center">Resolved</th>
        </tr>
      </thead>

      <tbody>
        {% for issue in issues %}
          <tr>
            <th scope="row">{{ issue.name }}</th>
            <td>{{ issue.timestamp }}</td>
            {% if issue.resolved %}
              <td><span class="glyphicon glyphicon-ok-circle text-success sentry-center"></span></td>
            {% else %}
              <td><span class="glyphicon glyphicon-remove-circle text-danger sentry-center"></span></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No issues have occurred recently.</p>
  {% endif %}

  <div id="id_changelog_container" class="changelog_container">
    <table id="id_changelog" class="table-hover table-condensed" style="width:100%">
      <thead>
        <tr>
          <th>
            <h3><b>&emsp;Changelog</b></h3>
          </th>
        </tr>
      </thead>

      <tbody>
        {% for change_log in change_logs %}
          <tr>
            <td>
              <h4 class="font-weight-bold">{{ change_log.version }} ( {{ change_log.created_at }} )</h4>
              <ul>
                {{ change_log.description|safe }}
              </ul>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/changelog.js' %}"></script>
{% endblock %}
