{% extends '_layout.html' %}
{% load utils %}
{% load static %}

{% block head %}
  <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
{% endblock %}

{% block title %} Help {% endblock %}

{% block content %}

  <div class="row" >
    {% if user.is_authenticated %}
      <h4>
        Still need help? Send me an email at
        <a href="mailto:{{ email }}">{{ email }}</a>
      </h4>
    {% endif %}
    <h4>
      Click <a href="{% url 'user_manual' %}">here</a> to view User Manual.
      ( <a href="{% static 'docs/CIS2.pdf' %}" download>
        Download User Manual as PDF
        </a>)
    </h4>
    <button type="button" class="btn btn-primary btn-md pivot-button" id="download-help-online">
      Download Help Online
    </button>
    <h1>Summary</h1>
    <ul class="list-unstyled">
      {% for model, data in models.items %}
        <li><a href="#{{ model }}">{{ data.nice_name|capfirst }}</a></li>
      {% endfor %}
    </ul>
  </div>

  {% for model, data in models.items %}
    {% if data.non_standard %}
      {% if model == 'data_provider_definitions' %}
        {% include "bits/help_data_provider_definitions.html" %}
      {% elif model == 'data_provider_roles' %}
        {% include "bits/help_data_provider_roles.html" %}
      {% elif model == 'metrics' %}
        {% include "bits/help_metrics.html" %}
      {% elif model == 'state' %}
        {% include "bits/help_state.html" %}
      {% endif %}
    {% else %}
      <div class="row" id="{{ model }}">
        <h1><a href="#{{ model }}">{{ data.nice_name|capfirst }}</a></h1>
        {% if data.description %}
          <h4>
            <strong>
              {{ data.description }}
            </strong>
          </h4>
        {% endif %}
        <table class="table table-bordered">
          <thead>
            <tr>
              {% for field in data.fields %}
                <td><strong>{{ field }}</strong></td>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for entry in data.objects %}
              <tr>
                {% for field in data.fields %}
                  <td>
                    {% with entry|get_field_nice_value:field as value %}
                      {% if field == 'link' and value %}
                        <a href="{{ value }}">Link</a>
                      {% else %}
                        {{ value }}
                      {% endif %}
                    {% endwith %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}

<img id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" src="{% static "/images/back_to_top_brown.png"  %}">

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
        } else {
            $('#back-to-top').fadeOut();
        }
      });
      $('#back-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
      });
      $('#download-help-online').click(function (){
        var element = document.getElementById('to-print');
        var opt = {
          margin: 1,
          filename: 'HelpOnline.pdf',
          html2canvas: { scale: 1 },
          pagebreak: { mode: ['avoid-all', 'css', 'legacy']},
          jsPDF: { unit: 'in', format: 'a3', orientation: 'landscape' }
        };
        html2pdf().set(opt).from(element).save();
      });
    });
  </script>
{% endblock %}
