{% extends '_layout.html' %}
{% load utils %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

{% block title %}Help{% endblock %}

{% block content %}
  <h4>
    Can't find a solution? Contact us at
    <a href="mailto:{{ email }}">{{ email }}</a>
  </h4>
  <h1>Summary</h1>
  <ul>
    {% for model, data in models.items %}
      <li><a href="#{{ model }}">{{ data.nice_name|capfirst }}</a></li>
    {% endfor %}
  </ul>
  {% for model, data in models.items %}
    <div class="row" id="{{ model }}">
      <h1>{{ data.nice_name|capfirst }}</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            {% for field in data.fields %}
              <td><strong>{{ field }}</strong></td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for entry in data.objects %}
             <tr>
              {% for field in data.fields %}
                <td>
                  {% with entry|get_field_nice_value:field as value %}
                    {% if field == 'link' and value %}
                      <a href="{{ value }}">Link</a>
                    {% else %}
                      {{ value }}
                    {% endif %}
                  {% endwith %}
                </td>
              {% endfor %}
             </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

{% endblock %}
