{% extends '_layout.html' %}
{% load utils %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

{% block title %}Help{% endblock %}

{% block content %}

  <div class="row">
    <h4>
      Still need help? Send me an email at
      <a href="mailto:{{ email }}">{{ email }}</a>
    </h4>
    <h1>Summary</h1>
    <ul class="list-unstyled">
      <li><a href="#metrics">Metrics</a></li>
      {% for model, data in models.items %}
        <li><a href="#metrics">{{ data.nice_name|capfirst }}</a></li>
      {% endfor %}
    </ul>
  </div>
<div class="row" id="metrics">
  <h1>Metrics</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><strong>name</strong></td>
        <td><strong>description</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="orange"><strong>Threshold</strong></td>
        <td>
          The “threshold” or “minimum requirement“ is the value that has to be
          met to ensure that data are useful. Below this minimum, the benefit
          derived does not compensate for the additional cost involved in
          using the observation. Threshold requirements for any given observing
          system cannot be stated in an absolute sense; assumptions have to be
          made concerning which other observing systems are likely to be available.
        </td>
      <tr>
        <td class="blue"><strong>Breakthrough</strong></td>
        <td>
          Within the range between threshold and goal requirements, the
          observations become progressively more useful. The “breakthrough” is
          an intermediate level between “threshold” and “goal“ which, if
          achieved, would result in a significant improvement for the targeted
          application.
        </td>
      </tr>
      <tr>
        <td class="green"><strong>Goal</strong></td>
        <td>
          The “goal” or “maximum requirement“ is the value above which further
          improvement of the observation would not cause any significant
          improvement in performance for the application in question. The cost
          of improving the observations beyond the goal would not be matched by
          a corresponding benefit. The goals are likely to evolve as applications
          progress and develop a capacity to make use of better observations.
        </td>
      </tr>
    </tbody>
  </table>
</div>
  {% for model, data in models.items %}
    <div class="row" id="{{ model }}">
      <h1>{{ data.nice_name|capfirst }}</h1>
      {% if data.description %}
        <h4>
          <strong>
            {{ data.description }}
          </strong>
        </h4>
      {% endif %}
      <table class="table table-bordered">
        <thead>
          <tr>
            {% for field in data.fields %}
              <td><strong>{{ field }}</strong></td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for entry in data.objects %}
             <tr>
              {% for field in data.fields %}
                <td>
                  {% with entry|get_field_nice_value:field as value %}
                    {% if field == 'link' and value %}
                      <a href="{{ value }}">Link</a>
                    {% else %}
                      {{ value }}
                    {% endif %}
                  {% endwith %}
                </td>
              {% endfor %}
             </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

<img id="back-to-top" href="#" class="back-to-top" role="button" title="Click to return on the top page" src="{% static "/images/back_to_top.png"  %}">

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
        } else {
            $('#back-to-top').fadeOut();
        }
      });
      $('#back-to-top').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
      });
    });
  </script>
{% endblock %}
