{% extends '_layout.html' %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
  <div class="jumbotron main-title">
    <h1>In Situ Component</h1>
    <p>Copernicus In Situ Component Information System</p>
  </div>
  <body>
    {% if user.is_authenticated %}
    <div class="latest-information">
      <div>
        <p class="latest-changes-text">Latest changes</p>
        <h4 class="font-weight-bold">1.5.19 (2019-05-07)</h4>
        <ul>
          <li>Set case insensitive ordering in reports</li>
          <li>Add count of products on Report 4</li>
          <li>Add notes for product and requirement on Report 1</li>
          <li>Remove the unusefull aggregator functions from the pivot</li>
          <li>Separate threshold, breakthrough and goal in reports</li>
          <li>Style column names in browser</li>
          <li>Limit the drag and drop pivot function to only the area near the field list</li>
          <li>Add missing attributes to reports: requirement note(report1, report 8), service and components (report 3), data name (report 7)</li>
        </ul>
        <p><strong>The UserManual is available <a href="{% url 'user_manual' %}">here.</strong></a></p>
        {% if DEBUG %}
          <p class="latest-changes-text"><strong>This is a DEMO application</strong></p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div id="footer">
      <img class="logo-copernicus" src="{% static "/images/logo-copernicus.png"  %}" alt="Copernicus Logo" hspace="150">
      <img class="in-situ-logo" src="{% static "/images/in-situ-logo.png" %}" alt="In Situ Logo">
      <img class="european_commission-logo" src="{% static "/images/european_commission.png" %}"
           alt="European Commission Logo" hspace="150">
    </div>
  </body>

{% endblock %}
