{% extends '_layout.html' %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
  <div class="jumbotron main-title">
    <h1>In Situ Component</h1>
    <p>Copernicus In Situ Component Information System</p>
  </div>
  <body>
    {% if request.user.is_authenticated %}
    <div class="latest-information">
      <div>
        <p class="latest-changes-text">Latest changes</p>
        <h4 class="font-weight-bold">1.5.12 (2018-12-06)</h4>
        <ul>
          <li>Make logging persistent</li>
          <li>Hide valid button for teammates</li>
          <li>Fix report export for Firefox, Edge and Internet Explorer</li>
        </ul>
        <p><strong>The UserManual is available <a href="{% url 'user_manual' %}">here.</strong></a></p>
        {% if DEBUG %}
          <p class="latest-changes-text"><strong>This is a DEMO application</strong></p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div id="footer">
      <img class="logo-copernicus" src="{% static "/images/logo-copernicus.png"  %}" alt="Copernicus Logo" hspace="150">
      <img class="in-situ-logo" src="{% static "/images/in-situ-logo.png" %}" alt="In Situ Logo">
      <img class="european_commission-logo" src="{% static "/images/european_commission.png" %}"
           alt="European Commission Logo" hspace="150">
    </div>
  </body>

{% endblock %}
