{% extends '_layout.html' %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>

{% block content %}
  <body>
    <div class="row">
      <div class="jumbotron main-title col-lg-7">
        <h1>In Situ Component</h1>
        <p>Copernicus In Situ Component Information System</p>
      </div>
      {% if user.is_authenticated %}
        <div class="user_log col-sm-1 col-xs-offset-1">
          <div class="recent_action_bg">
            <p class="recent_action">Recent Actions</p>
            <div class="padding_user_log">
              {% if user_log %}
                {% for log in user_log %}
                  <ul>
                    <li><b>{{ log.user.username }} </b>{{ log.text }}
                      <br>
                      <span class="quiet">{{ log.date }}</span>
                    </li>
                  </ul>
                {% endfor %}
              {% else %}
                <ul>
                  <li><b>No recent actions</b></li>
                </ul>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="latest-information">
          <div>
            <p class="latest-changes-text">Latest changes</p>
            <h4 class="font-weight-bold">2.4.0 (2021-03-30)</h4>
            <ul>
              <li>Add validation states description in Help pageles</li>
              <li>Add information about the filtering done on the objects in Reports</li>
            </ul>

            <p><strong>The UserManual is available <a href="{% url 'user_manual' %}">here.</strong></a></p>
            {% if DEBUG %}
              <p class="latest-changes-text"><strong>This is a DEMO application</strong></p>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div id="footer">
        <img class="logo-copernicus" src="{% static "/images/logo-copernicus.png"  %}" alt="Copernicus Logo" hspace="150">
        <img class="in-situ-logo" src="{% static "/images/in-situ-logo.png" %}" alt="In Situ Logo">
        <img class="european_commission-logo" src="{% static "/images/european_commission.png" %}"
            alt="European Commission Logo" hspace="150">
      </div>
    </div>
  </body>
{% endblock %}
