{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}Manage{% endblock %}

{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
  <h1>Manage picklists and products</h1>

  <div class="row">
    <h3>Transfer ownership</h3>
    <form method="post" action="{% url 'auth:transfer_ownership' %}">
      {% csrf_token %}

      <div>
        Previous owner:
        <select name="old_user">
          {% for u in users %}
            <option value="{{ u.id }}">{{ u.first_name }} {{ u.last_name }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <div>
        New owner:
        <select name="new_user">
          {% for u in users %}
            <option value="{{ u.id }}">{{ u.first_name }} {{ u.last_name }}</option>
          {% endfor %}
        </select>
      </div>
      <br>

      <div>
        <p>Disable previous owner?</p>
        <input type="radio" id="disable_old_user_yes" name="disable_old_user" value="yes">
        <label for="disable_old_user_yes">Yes</label>
        <input type="radio" id="disable_old_user_no" name="disable_old_user" value="no">
        <label for="disable_old_user_no">No</label>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Transfer ownership" />
    </form>
  </div>

  <div class="row">
    <h3>Export picklists</h3>
    <a class="btn btn-primary" href="{% url 'pick:export' %}">
      Download all picklists
    </a>
  </div>

  <div class="row">
    <h3>Import picklists</h3>
    <form class="form-inline import-form"
          method="post"
          data-type="picklist"
          enctype="multipart/form-data"
          action="{% url 'pick:import' %}">
      {% csrf_token %}

      <div class="form-group">
        <label class="control-label" for="workbook">Workbook</label>
        <input id="workbook" name="workbook" class="form-control-static"
               type="file" accept=".xlsx" required>
      </div>

      <input type="submit" class="btn btn-primary" value="Import data">
    </form>

    <p id="picklist-error" class="alert alert-danger" hidden>
      File upload unsuccessful. Please check workbook has the right template.
    </p>
    <p id="picklist-success" class="alert alert-success" hidden>
      File upload succesful.
    </p>
  </div>

  <div class="row">
    <h3>Export products</h3>
    <a class="btn btn-primary" href="{% url 'product:export' %}">
      Download all products
    </a>
  </div>

  <div class="row margin-bottom-100">
    <h3>Import products</h3>
    <form class="form-inline import-form"
          method="post"
          data-type="product"
          enctype="multipart/form-data"
          action="{% url 'product:import' %}">
      {% csrf_token %}

      <div class="form-group">
        <label class="control-label" for="workbook">Workbook</label>
        <input id="workbook" name="workbook" class="form-control-static"
               type="file" accept=".xlsx" required>
      </div>

      <input type="submit" class="btn btn-primary" value="Import data">
    </form>

    <p id="product-error" class="alert alert-danger" hidden>
      File upload unsuccessful. Please check workbook has the right template.
    </p>
    <p id="product-success" class="alert alert-success" hidden>
      File upload succesful.
    </p>

    <h1>Extract data statistics</h1>

    <form method="post">
      {% csrf_token %}
      <div class="form-group required">
        <label class="control-label" for="id_start_date">Start date</label>
        <input type="text" name="start_date" class="form-control datepicker"
               autocomplete="off" placeholder="Start date" title="" required="" 
               id="id_start_date" value="{{ form.start_date.value|default_if_none:'' }}">
      </div>

      <div class="form-group required">
        <label class="control-label" for="id_end_date">End date</label>
        <input type="text" name="end_date" class="form-control datepicker"
               autocomplete="off" placeholder="End date" title="" required="" id="id_end_date"
               value="{{ form.end_date.value|default_if_none:'' }}">
      </div>

      {% bootstrap_field form.selected_object required_css_class='required' %}

      <input class="btn btn-primary" type="submit" value="Generate" />
    </form>

    {% if selected_object %}
      <div class="row">
        <table id="detail-table" class="table borderless col-sm-12">
          <tbody>
            <tr class="row">
              <th class="col-md-4 col-sm-6">{{ selected_object }} active during the selected period:</th>
              <td class="col-md-8 col-sm-6">{{ no_of_objects }}</td>
            </tr>

            <tr class="row">
              <th class="col-md-4 col-sm-6">{{ selected_object }} created during the selected period:</th>
              <td class="col-md-8 col-sm-6">{{ no_of_objects_created }}</td>
            </tr>

            <tr class="row">
              <th class="col-md-4 col-sm-6">{{ selected_object }} updated during the selected period:</th>
              <td class="col-md-8 col-sm-6">{{ no_of_objects_updated }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script nonce="{{request.csp_nonce}}">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      maxDate: "+0d",
      dateFormat: 'dd-mm-yy',
    });
  });
</script>

<script nonce="{{request.csp_nonce}}">
  $(document).ready(function () {
    $('.import-form').on('submit', function (e) {
      e.preventDefault();
      var type = $(this).data('type');
      $('#' + type + '-error').hide();
      $('#' + type + '-success').hide();
      $.ajax({
        url: $(this).attr('action'),
        data: new FormData(this),
        cache: false,
        contentType: false,
        processData: false,
        type: $(this).attr('method'),
        error: function (data) {
          $('#' + type + '-error').show();
        },
        success: function (data) {
          $('#' + type + '-success').show();
        }
      });
    });
  });
</script>
{% endblock %}
