{% load navigation %}
{% load utils %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#main-menu"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">CIS<sup>2</sup></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-menu">
      {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
          {% url 'product:list' as products_list %}
          <li class="{% active products_list %}">
            <a href="{{ products_list }}">Products</a>
          </li>

          {% url 'requirement:list' as requirements_list %}
          <li class="{% active requirements_list %}">
            <a href="{{ requirements_list }}">Requirements</a>
          </li>

          {% url 'data:list' as data_list %}
          <li class="{% active data_list %}">
            <a href="{{ data_list }}">Data</a>
          </li>

          {% url 'provider:list' as provider_list %}
          <li class="{% active provider_list %}">
            <a href="{{ provider_list }}">Data providers</a>
          </li>

          {% if not user|has_group:READ_ONLY_GROUP %}
            {% url 'auth:edit_teammates' as edit_teammates %}
            <li class="{% active edit_teammates %}">
              <a href="{{ edit_teammates }}">Edit teammates</a>
            </li>
          {% endif %}

          {% if user.is_superuser %}
            {% url 'manage' as manage %}
            <li class="{% active manage %}">
              <a href="{{ manage }}">Management</a>
            </li>
          {% endif %}

          {% url 'about' as about %}
          <li class="{% active about %}">
            <a href="{{ about }}">About</a>
          </li>

          {% url 'reports:list' as reports %}
          <li class="{% active reports %}">
            <a href="{{ reports }}">Reports</a>
          </li>

        </ul>
      {% endif %}
      <ul class="pull-right nav navbar-nav">
        {% if user.is_authenticated %}
           <li>
            <a>Hello, {{ user.username }}</a>
          </li>         {% url 'help' as help %}
          <li class="{% active help %}">
            <a href="{{ help }}">
              <span class="glyphicon glyphicon-question-sign"></span> Help
            </a>
          </li>
          {% url 'auth:change_password' as change_password %}
          <li class="{% active change_password %}">
            <a href="{{ change_password }}">
              Change password
            </a>
          </li>
          {% if user.is_superuser %}
            {% url 'admin:index' as admin %}
            <li class="{% active admin %}">
              <a href="{{ admin }}">Administration</a>
            </li>
          {% endif %}
          {% url 'auth:logout' as logout %}
          <li class="{% active logout %}">
            <a href="{{ logout }}">Logout</a>
          </li>
        {% else %}
          {% url 'auth:login' as login %}
          <li class="{% active login %}">
            <a href="{{ login }}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
