{% load navigation %}
{% load utils %}
{% load static %}

<nav class="navbar navbar-default navbar-dark extra-nav-style" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div id="main-menu">
    <div class="navbar-wrapper" >
      <a class="extra-navbar-brand navbar-brand extra-navbar-brand" href="{% url 'requirement:list' %}">Copernicus In Situ Component Information System (CIS<sup>2</sup>)</a>
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="extra-navbar-brand nav navbar-nav">

          {% url 'about' as about %}
          <li class="{% active about %}">
            <a href="{{ about }}">About</a>
          </li>

          {% url 'product:list' as products_list %}
          <li class="{% active products_list %}">
            <a href="{{ products_list }}">Products</a>
          </li>

          {% url 'requirement:list' as requirements_list %}
          <li class="{% active requirements_list %}">
            <a href="{{ requirements_list }}">Requirements</a>
          </li>

          {% url 'data:list' as data_list %}
          <li class="{% active data_list %}">
            <a href="{{ data_list }}">Data</a>
          </li>

          {% url 'provider:list' as provider_list %}
          <li class="{% active provider_list %}">
            <a href="{{ provider_list }}">Data providers</a>
          </li>

          {% if not user|has_group:READ_ONLY_GROUP and user.is_authenticated %}
            {% url 'auth:edit_teammates' as edit_teammates %}
            <li class="{% active edit_teammates %}">
              <a href="{{ edit_teammates }}">Edit teammates</a>
            </li>
          {% endif %}

          {% if user.is_superuser %}
            {% url 'manage' as manage %}
            <li class="{% active manage %}">
              <a href="{{ manage }}">Management</a>
            </li>
          {% endif %}

          {% url 'reports:list' as reports %}
          <li class="{% active reports %}">
            <a href="{{ reports }}">Reports</a>
          </li>

        </ul>
        <ul class=" extra-navbar-brand pull-right nav navbar-nav extra-navbar-brand">
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'user_records' user.id %}">Hello, {{ user.username }}</a>
            </li>
          {% endif %}

          {% url 'help' as help %}
          <li class="{% active help %}">
            <a href="{{ help }}">
              <span class="glyphicon glyphicon-question-sign"></span> Help
            </a>
          </li>

          {% if user.is_authenticated %}
            {% url 'auth:change_password' as change_password %}
            <li class="{% active change_password %}">
              <a href="{{ change_password }}">
                Change password
              </a>
            </li>
            {% if user.is_superuser or user|has_group:PICKLISTS_EDITOR_GROUP %}
              {% url 'admin:index' as admin %}
              <li class="{% active admin %}">
                <a href="{{ admin }}">Administration</a>
              </li>
            {% endif %}
            {% url 'auth:logout' as logout %}
            <li class="{% active logout %}">
              <a href="{{ logout }}">Logout</a>
            </li>
          {% else %}
            <li ckass="{% active password_reset %}">
              <a href="{% url 'password_reset' %}"><small>Forgot your password?</small></a>
            </li>

            {% url 'auth:login' as login %}
            <li class="{% active login %}">
              <a href="{{ login }}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <img class="logo-copernicus " src="{% static "/images/logo-for-nav.png"  %}" alt="Copernicus Logo">
  </div>
</nav>
