{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Products</span>
      <span class="pull-right">
      <a class="btn btn-primary pull-right" href="{% url 'product_add' %}">New
        product</a>
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table id="products" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Acronym</th>
          <th>Name</th>
          <th>Group</th>
          <th>Service</th>
          <th>Component</th>
          <th>Entrusted entity</th>
          <th>Coverage</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script>
      $(document).ready(function () {
          var table = $('#products').dataTable({
              "processing": true,
              "serverSide": true,
              "ajax": "{% url 'products_json' %}"
          });
      });
  </script>
{% endblock %}
