{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Product details
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1>Product details</h1>
    </div>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ product.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Acronym</th>
        <td class="col-md-8 col-sm-6">{{ product.acronym }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Description</th>
        <td class="col-md-8 col-sm-6">{{ product.description }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Note</th>
        <td class="col-md-8 col-sm-6">{{ product.note }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Status</th>
        <td class="col-md-8 col-sm-6">{{ product.status }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Group</th>
        <td class="col-md-8 col-sm-6">{{ product.group }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Coverage</th>
        <td class="col-md-8 col-sm-6">{{ product.coverage }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Service</th>
        <td class="col-md-8 col-sm-6">
          <span data-toggle="popover"
                title="{{ product.component.service }}"
                data-content="{% include 'popovers/service.html' with service=product.component.service %}">
            {{ product.component.service }}
          </span>
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Component</th>
        <td class="col-md-8 col-sm-6">
          <span data-toggle="popover"
                title="{{ product.component }}"
                data-content="{% include 'popovers/component.html' with component=product.component %}">
            {{ product.component }}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({
        trigger: 'hover',
        placement: 'right',
        html: true,
        container: 'table'
      });
    })
  </script>
{% endblock %}