{% extends '_layout.html' %}
{% load static %}

{% block style %}

  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/buttons.dataTables.min.css' %}"/>
  <style>
    .container {
      width: auto !important;
    }
  </style>

{% endblock %}

{% block title %}
  User Records
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Records</span>
    </h1>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Data</span>
    </h3>
  </div>

  <div class="row" >
    <div class="col-lg-12">
      <table id="user_data" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for data in data_list %}
          <tr>
            <td><a href="{% url 'data:detail' data.id %}">{{ data.name }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Data Providers</span>
    </h3>
  </div>

  <div class="row" >
    <div class="col-lg-12">
      <table id="user_providers" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for provider in providers_list %}
          <tr>
            <td><a href="{% url 'provider:detail' provider.id %}">{{ provider.name }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Requirements</span>
    </h3>
  </div>

  <div class="row" >
    <div class="col-lg-12">
      <table id="user_requirements" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for requirement in requirements_list %}
          <tr>
            <td><a href={% url 'requirement:detail' requirement.id %}>{{ requirement.name }}</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/user_records.js' %}"></script>
{% endblock %}
