{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Password reset confirm
{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="row">
      <h1 class="col-sm-12">
        <span>Change password</span>
      </h1>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Change password" />
    </form>
  {% else %}
    <h5 class="col-sm-8">
      <sp>
        The password reset link was invalid, possibly because it has already been used.
      </p>
      <p>
        Please request a new password reset.
      </p>
    </h5>
  {% endif %}
{% endblock %}
