TZ=Europe/Copenhagen
SECRET_KEY=secret
DEBUG=True
DEBUG_TOOLBAR=False
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=user:password
ELASTICSEARCH_TIMEOUT=120
# Add the following variables if you plan on running the tests
ELASTICSEARCH_TEST_HOST=elasticsearch_test
ELASTICSEARCH_TEST_AUTH=user:password
SENTRY_PUBLIC_DSN=
SENTRY_ORG_SLUG=
SENTRY_PROJ_SLUG=
SENTRY_AUTH_TOKEN=
TIMEOUT=60
MATOMO=False

CRAZY_EGG=

SUPPORT_EMAIL=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=postfix
EMAIL_PORT=25
EMAIL_SENDER=

SITE_URL=

DJANGO_MIGRATE=no
DJANGO_COLLECT_STATIC=no
