TZ=Europe/Copenhagen
SECRET_KEY=secret
DEBUG=True
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_AUTH=user:password
# Add the following variables if you plan on running the tests
ELASTICSEARCH_TEST_HOST=elasticsearch_test
ELASTICSEARCH_TEST_AUTH=user:password
SENTRY_DSN=
SENTRY_PUBLIC_DSN=

GOOGLE_ANALYTICS_PROPERTY_ID=

CRAZY_EGG=

SUPPORT_EMAIL=
