/*csslint important: false*/
.back-to-top {
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 70px;
  position: fixed;
  right: 20px;
  width: 70px;
}

.blue {
  color: #00529B;
}

.changelog_container {
  height: 45%;
  margin: 0 auto;
}

.display-margin {
  margin-bottom: 20px;
  margin-top: 20px;
}

.european_commission-logo {
  height: 100px;
  width: 134px;
}

.filters-style {
  padding-top: 10px;
}

.font-weight-bold {
  font-weight: bold;
}

.footer {
  bottom: 100px;
  height: 10px;
  position: fixed;
  width: inherit;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.in-situ-logo {
  height: 75px;
  width: 126px;
}

.green {
  color: #007B2B;
}

.green-text {
  color: green !important;
  font-weight: bold;
}

.latest-changes-text {
  color: red;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}

.latest-information {
  font-family: initial !important;
  font-size: initial !important;
}

.logo-copernicus {
  height: 80px;
  width: auto;
  margin-top: 5px;
}

.footer-images {
  height: auto;
  width: 20%;
  margin-top: 20px;
  margin-left: 20px;
}

.img-larger {
  width: 30%;
}

.main-title {
  background: #ffffff;
  padding-bottom: 10px;
}

.margin-left-btn {
  margin-left: 1%;
}

@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}

.no-padding-left {
  padding-left: 0;
}

.no_records {
  color: grey;
  text-align: center;
}

.navbar-nav>li>a {
  padding-left: 10px;
  padding-right: 10px !important;
}

.extra-nav-style {
  background: #935239;
  margin: 0;
  border: 0;
  border-radius: 0;
}

a:focus {
  outline: none;
  border: 0;
}

#navbar-collapse {
  padding: 0;
  margin: 0;
}

.navbar-default .navbar-nav>li>a {
   color: #F1F1F1
}
.navbar-default .navbar-brand {
  color: #F1F1F1;
  font-size: 24px;
  font-weight: 500;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #F1F1F1;
  background: #61332a;
}

.extra-navbar-brand>li>a {
  color: white;
}

a.extra-navbar-brand {
  padding-left: 10px !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  /* background: #61332A; */
  color: white
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
}

.padding_user_log {
  padding: 0 16px 16px 0;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  border: 2px solid yellow;
}  

.flex-child:first-child {
  margin-right: 20px;
}

.navbar-header {
  float: left;
}

.navbar {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.pannel-default {
  border: 1px #CCC solid;
  border-radius: 5px;
}

.panel-heading
{
background: #935239 !important;
padding: 10px;
color: #FFFFFF !important;
text-transform: uppercase;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
font-size: 18px;
}
.pannel-body{
padding: 10px;
background: #FBFBFB;
}

.pannel-body-overflow {
  overflow-y: scroll;
  height:400px;
}

/* .navbar > li, a {
  color: white;
} */

#main-menu {
display: flex;
margin: 0;
padding: 0;
}

.navbar-wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.footer > img {
  height: 30px;
  width: auto;
  margin-top: 5px;
}

.padding_user_record {
  padding-left: 0;
  padding-top: 35px;
}

.paginate_button {
  padding: 0 !important;
}

.paginate_button:hover {
  border: 0 !important;
}

.popover {
  max-width: 100%;
  min-width: 40%;
}

.popover-width-limit {
  min-width: 9%;
}

.recent_action {
  border-bottom: 1px solid #e7e7e7;
  color: #935239;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 16px;
}

.recent_action_bg {
  background: #f8f8f8;
}

.rectangle {
  display: block;
  float: left;
  height: 20px;
  margin-left: 10px;
  margin-right: 0;
  width: 15px;
}

.red {
  color: red;
}

.required .control-label:after {
  color: red;
  content: "*";
}

.orange {
  color: #FC7300;
}

.quiet {
  color: #999999;
  font-size: 11px;
  font-weight: normal;
}

.sentry-center {
  text-align: center;
  width: 100%;
}

.statistics-bar {
  font-size: 12px;
  margin-top: -15px;
  text-align: center;
}

.text_user_record {
  color: #935239;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

.user_log {
  /* height: 20%; */
  padding-top: 68px;
  width: 30%;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-10 {
  width: 10%;
}

.width-200-px {
  width: 200px;
}

table {
  font-size: medium;
}
.min-height-550 {
  min-height: 550px;
}

.margin-top-1 {
  margin-top: 1px;
}

.margin-top-2 {
  margin-top:2%;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-20 {
  margin-right: 20px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.text-align-center {
  text-align: center;
}

.display-none {
  display: none;
}

.display-block {
  display:block;
}

.display-inline {
  display: inline;
}

.border-0 {
  border: 0;
}

.red-bg {
  background:#FC7300;
}

.blue-bg {
  background:#00529B;
}

.green-bg {
  background:#007B2B;
}

.thumbnail {
  height:600px;
  overflow: hidden;
}

.thumbnail img {
  width: auto;
  height: 240px;
}

.pannel-body > .current {
  color:#94523a;
}
