.popover {
    min-width: 40%;
    max-width: 100%;
}

.orange {
    color: #FC7300;
}

.blue {
    color: #00529B;
}

.green {
    color: #007B2B;
}

.red {
    color: red;
}

.no-padding-left {
    padding-left: 0;
}

.paginate_button:hover {
    border: 0px !important;
}

.paginate_button {
    padding: 0 !important;
}

.margin-left-btn{
    margin-left: 1%
}

.main-title{
  background: #ffffff;
}

.logo-copernicus{
  width:205px;
  height:75px;
}

.in-situ-logo{
  width:126px;
  height:75px;
}

.european_commission-logo{
  width:134px;
  height:100px;
}

.required .control-label:after {
  content:"*";color:red;
}

#footer{
  width: inherit;
  height: 10px;
  bottom: 100px;
  position: fixed;
}

.display-margin{
 margin-top: 20px;
 margin-bottom: 20px;
}

.green-text{
 color: green !important;
 font-weight: bold;
}

@media (min-width: 1200px){
  .container {
    width: 1250px;
  }
}
