.popover {
    min-width: 40%;
    max-width: 100%;
}

.orange {
    color: #FC7300;
}

.blue {
    color: #00529B;
}

.green {
    color: #007B2B;
}

.no-padding-left {
    padding-left: 0;
}

.paginate_button:hover {
    border: 0px !important;
}

.paginate_button {
    padding: 0 !important;
}
