{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/bootstrap-datetime-picker.min.css' %}"/>
{% endblock %}

{% block title %}
  Add a new data
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new data</span>
    </h1>
  </div>

  <div class="alert alert-info">
    All fields marked with <span class="red">*</span> are required.<br>
    {% if ready_form %}
      At least one Inspire Theme or Essential Variable is required.
    {% endif %}
  </div>
  {% if ready_form %}
  <div class="alert alert-warning">
    This form has mandatory fields! If you want to access a draft version click <a href="{% url 'data:add' %}?pk={{ request.GET.pk }}">here</a>.
  </div>
  {% else %}
  <div class="alert alert-danger">
    This form has no mandatory fields! You can access the form with required validation <a href="{% url 'data:add' %}?ready&pk={{ request.GET.pk }}">here</a>.
  </div>
  {% endif %}
  <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.name required_css_class='required' %}

    {% bootstrap_field form.note %}

    {% bootstrap_field form.update_frequency required_css_class='required' addon_after='<a target="_blank" href="help#updatefrequency"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.area required_css_class='required' addon_after='<a target="_blank" href="help#area"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <div class="form-group">
      <label class="control-label">
        Temporal
      </label>
      <div class="input-group input-daterange">
        <input type="text" class="input-sm form-control" name="start_time_coverage"
               id="id_start_time_coverage" data-provide="datepicker"
               value="{{ form.start_time_coverage.value|date:'m/d/Y'}}"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end_time_coverage"
               id="id_end_time_coverage" data-provide="datepicker"
               value="{{ form.end_time_coverage.value|date:'m/d/Y'}}"/>
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

    {% bootstrap_field form.timeliness required_css_class='required' addon_after='<a target="_blank" href="help#timeliness"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.data_policy required_css_class='required' addon_after='<a target="_blank" href="help#datapolicy"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.data_type required_css_class='required' addon_after='<a target="_blank" href="help#datatype"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.data_format required_css_class='required' addon_after='<a target="_blank" href="help#dataformat"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.quality_control_procedure required_css_class='required' addon_after='<a target="_blank" href="help#qualitycontrolprocedure"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.dissemination required_css_class='required' addon_after='<a target="_blank" href="help#dissemination"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.inspire_themes addon_after='<a target="_blank" href="help#inspiretheme"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.essential_variables addon_after='<a target="_blank" href="help#essentialvariable"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.geographical_coverage required_css_class='required' addon_after='<a target="_blank" href="help#country"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.status required_css_class='required' addon_after='<a target="_blank" href="help#status"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <input class="btn btn-primary" type="submit" value="Save"/>
    <a href="{% url 'data:list' %}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datetime-picker.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
