{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Data details
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Data details</span>
      {% if request.user.service_resp or request.user.is_superuser %}
        <span class="pull-right delete-btn">
        <a class="btn btn-primary pull-right" href="{% url 'data:delete' data.pk %}">Delete data</a>
        </span>
        <span class="pull-right">
        <a class="btn btn-primary pull-right" href="{% url 'data:edit' data.pk %}">Edit data</a>
        </span>
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ data.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Note</th>
        <td class="col-md-8 col-sm-6">{{ data.note }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Update Frequency</th>
        <td class="col-md-8 col-sm-6">{{ data.update_frequency }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Coverage</th>
        <td class="col-md-8 col-sm-6">
          {{ data.coverage }}
          <br>
          {{ data.start_time_coverage|date:"d N Y" }} -
          {{ data.end_time_coverage|date:"d N Y" }}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Timeliness</th>
        <td class="col-md-8 col-sm-6">{{ data.timeliness }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Policy</th>
        <td class="col-md-8 col-sm-6">{{ data.policy }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Data type</th>
        <td class="col-md-8 col-sm-6">{{ data.data_type }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Data format</th>
        <td class="col-md-8 col-sm-6">{{ data.data_format }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Quality</th>
        <td class="col-md-8 col-sm-6">{{ data.quality }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Dissemination</th>
        <td class="col-md-8 col-sm-6">{{ data.dissemination }}</td>
      </tr>

      {% if data.inspire_themes.all|length %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Inspire themes</th>
          <td class="col-md-8 col-sm-6">
            {% for inspire_theme in data.inspire_themes.all %}
              <p>{{ inspire_theme }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endif %}

      {% if data.essential_variables.all|length %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Essential variables</th>
          <td class="col-md-8 col-sm-6">
            {% for essential_variable in data.essential_variables.all %}
              <p>{{ essential_variable }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endif %}

      </tbody>
    </table>
  </div>
  <div class="row">
    <h3 class="col-sm-12">
      <span>Data Responsibles</span>
      {% if request.user.service_resp or request.user.is_superuser %}
        <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'data:responsible:add' data.pk %}">Add data
            responsible</a>
        </span>
      {% endif %}
    </h3>
    <div class="col-sm-12">
      <table id="responsibles"
             class="table table-condensed table-bordered table-hover">
        <thead>
          <tr>
            <th>Data responsible</th>
            <th>Role</th>
            <th class="no-sort">Is network</th>
            {% if request.user.service_resp or request.user.is_superuser %}
              <th class="no-sort" width="10%"></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
        {% for rel in data.dataresponsiblerelation_set.all %}
          <tr>
            <td>
              <a href="{% url 'responsible:detail' rel.responsible.pk %}">{{ rel.responsible.name }}</a>
            </td>
            <td>{{ rel.get_role_display }}</td>
            <td>
              {% if rel.responsible.is_network %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            {% if request.user.service_resp or request.user.is_superuser %}
              <td class="row">
                <a href="{% url 'data:responsible:edit' group_pk=data.pk pk=rel.pk %}"
                   class="col-sm-6">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{% url 'data:responsible:delete' group_pk=data.pk pk=rel.pk %}"
                   class="col-sm-6">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h3 class="col-sm-12">
      <span>Requirements</span>
      {% if request.user.service_resp or request.user.is_superuser %}
        <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'data:requirement:add' data.pk %}">Add data requirement</a>
        </span>
      {% endif %}
    </h3>
    <div class="col-sm-12">
      <table id="requirements"
           class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Requirement</th>
          <th>Level of compliace</th>
          <th class="no-sort">Note</th>
          <th class="no-sort">Information costs</th>
          <th class="no-sort">Handling costs</th>
          {% if request.user.service_resp or request.user.is_superuser %}
            <th class="no-sort" width="10%"></th>
          {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for rel in data.datarequirement_set.all %}
          <tr>
            <td> 
              <a href="{% url 'requirement:detail' rel.requirement.pk %}">{{ rel.requirement }}</a>
            </td>
            <td> {{ rel.level_of_compliance }} </td>
            <td> {{ rel.note }} </td>
            <td> 
              {% if rel.information_costs %} 
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            <td> 
              {% if rel.handling_costs %} 
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            {% if request.user.service_resp or request.user.is_superuser %}
              <td class="row">
                <a href="{% url 'data:requirement:edit' data_pk=data.pk pk=rel.pk %}"
                   class="col-sm-6">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a href="{% url 'data:requirement:delete' data_pk=data.pk pk=rel.pk %}"
                  class="col-sm-6">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script>
    $(function () {

      var table = $('#responsibles').dataTable({
        columnDefs: [
          { targets: 'no-sort',
            orderable: false }
        ]
      });
    });
  </script>
  
  <script>
    $(function () {

      var table = $('#requirements').dataTable({
        columnDefs: [
          { targets: 'no-sort',
            orderable: false }
        ]
      });
    });
  </script>
{% endblock %}
