{% extends '_layout.html' %}
{% load static %}
{% load js %}
{% load utils %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/buttons.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Data details
{% endblock %}

{% block content %}
  {% has_user_perm data user as user_perm %}
  {% if not user|has_group:READ_ONLY_GROUP %}
    {% if failed_validation %}
      <div class="alert alert-danger">
        This Data does not respect the validation! Use <a href="{%url 'data:edit' data.pk %}?ready">this</a> formular to complete the rest of the fields.
      </div>
    {% endif %}
  {% endif %}

  <div class="row">
    <span class="margin-left-btn">
      <a class="btn btn-default btn-sm" href="{% url 'data:list' %}">Back to data list</a>
    </span>
    <h1 class="col-sm-12">
      <span>Data details</span>
      {% if not user|has_group:READ_ONLY_GROUP %}
        {% if data.state == 'draft' %}
          {% if request.user == data.created_by or request.user.is_superuser or request.user in data.created_by.team.teammates.all or user_perm %}
            <span class="pull-right margin-left-btn">
              <a class="btn btn-primary pull-right" href="{% url 'data:delete' data.pk %}">Delete data</a>
            </span>
            <span class="pull-right">
              <a class="btn btn-primary pull-right" href="{% url 'data:edit' data.pk %}">Edit data</a>
            </span>
          {% endif %}
        {% endif %}
      {% endif %}
      <br>
      {% if not user|has_group:READ_ONLY_GROUP and user.is_authenticated %}
        <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'data:add' %}?pk={{ data.pk }}">
            Clone data
          </a>
        </span>
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ data.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Note</th>
        <td class="col-md-8 col-sm-6">{{ data.note }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Update Frequency
          <a target="_blank" href="/help#updatefrequency"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.update_frequency|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Area
          <a target="_blank" href="/help#area"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">
          {{ data.area|default_if_none:"-" }}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Temporal</th>
        <td class="col-md-8 col-sm-6">
          {{ data.start_time_coverage|date:"d N Y" }} -
          {{ data.end_time_coverage|date:"d N Y" }}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Timeliness
          <a target="_blank" href="/help#timeliness"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.timeliness|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Data Policy
          <a target="_blank" href="/help#datapolicy"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.data_policy|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Data type
          <a target="_blank" href="/help#datatype"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.data_type|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Data format
          <a target="_blank" href="/help#dataformat"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.data_format|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Quality Control Procedure
          <a target="_blank" href="/help#qualitycontrolprocedure"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.quality_control_procedure|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Dissemination
          <a target="_blank" href="/help#dissemination"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.dissemination|default_if_none:"-" }}</td>
      </tr>

      {% if data.inspire_themes.all|length %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">
            Inspire themes
            <a target="_blank" href="/help#inspiretheme"><span class="glyphicon glyphicon-question-sign"></span></a>
          </th>
          <td class="col-md-8 col-sm-6">
            {% for inspire_theme in data.inspire_themes.all %}
              <p>{{ inspire_theme }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endif %}

      {% if data.essential_variables.all|length %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">
            Essential variables
            <a target="_blank" href="/help#essentialvariable"><span class="glyphicon glyphicon-question-sign"></span></a>
          </th>
          <td class="col-md-8 col-sm-6">
            {% for essential_variable in data.essential_variables.all %}
              <p>{{ essential_variable }}</p>
            {% endfor %}
          </td>
        </tr>
      {% endif %}

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Geographical Coverage
          <a target="_blank" href="/help#country"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-4 col-sm-6">
          {% for coverage in data.geographical_coverage.all %}
            <p>{{ coverage }}</p>
          {% endfor %}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          Status
          <a target="_blank" href="/help#status"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.status|default_if_none:"-" }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">
          State
          <a target="_blank" href="/help#state"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <td class="col-md-8 col-sm-6">{{ data.state.title }}
          {% if not user|has_group:READ_ONLY_GROUP and user.is_authenticated %}
            <div class="pull-right">
              {% if data.state == 'draft' %}
                {% if data.created_by == request.user or request.user in data.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='draft' target='ready' transition='mark_as_ready' %}">
                    Mark as ready
                  </a>
                {% endif %}
              {% endif %}
              {% if data.state == 'ready' %}
                {% if request.user not in data.created_by.team.teammates.all %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='ready' target='valid' transition='validate' %}">
                    Mark as valid
                  </a>
                {% endif %}
                {% if data.created_by != request.user and request.user not in data.created_by.team.teammates.all and not user_perm %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='ready' target='changes' transition='request_changes' %}">
                    Request changes
                  </a>
                {% elif data.created_by == request.user or request.user in data.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='ready' target='draft' transition='cancel' %}">
                    Move back to draft
                  </a>
                {% endif %}
              {% endif %}
              {% if data.state == 'changes' %}
                {% if data.created_by == request.user or request.user in data.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='changes' target='draft' transition='make_changes' %}">
                    Implement feedback
                  </a>
                {% endif %}
              {% endif %}
              {% if data.state == 'valid' %}
                {% if data.created_by == request.user or request.user in data.created_by.team.teammates.all or user_perm %}
                  <a class="btn btn-primary" href="{% url 'data:transition' pk=data.pk source='valid' target='draft' transition='revalidate' %}">
                    Move back to draft
                  </a>
                {% endif %}
              {% endif %}
            </div>
            {% if data.state != 'ready' and data.state != 'valid' %}
              {% if data.feedback %}
                <div class="alert alert-danger margin-top-5" role="alert">
                  <h5>Feedback:</h5>
                  {{ data.feedback|linebreaksbr }}
                </div>
                {% if data.created_by == request.user or request.user in data.created_by.team.teammates.all or user_perm %}
                  <form method="POST" action="{% url 'data:clear_feedback' data.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">
                      Clear feedback text
                    </button>
                  </form>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% if user.is_authenticated %}
        <tr class="row">
          <th class="col-md-4 col-sm-6">Created by</th>
          <td class="col-md-8 col-sm-6">{{ data.created_by.get_full_name }},
            <em>{{ data.created_by.email }}</em>
          </td>
        </tr>
        {% if data.owner_history %}
          <tr class="row">
            <th class="col-md-4 col-sm-6">Creators history</th>
            <td class="col-md-8 col-sm-6">
              {{ data.owner_history }}
            </td>
          </tr>
        {% endif %}
      {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <h3 class="col-sm-12">
      <span>Data Providers</span>
      {% if not user|has_group:READ_ONLY_GROUP %}
        {% if data.state == 'draft' %}
          {% if request.user == data.created_by or request.user.is_superuser or request.user in data.created_by.team.teammates.all or user_perm %}
            <span class="pull-right">
              <a class="btn btn-primary pull-right"
                 href="{% url 'data:provider:add' data.pk %}">Add data to data provider
              </a>
            </span>
          {% endif %}
        {% endif %}
      {% endif %}
    </h3>
    <div class="col-sm-12">
      <table id="providers"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Data provider</th>
          <th>
            Role
            <a target="_blank" href="/help#data_provider_roles"><span class="glyphicon glyphicon-question-sign"></span></a>
          </th>
          <th class="no-sort">Is network</th>
          <th class="no-sort width-10"></th>
        </tr>
        </thead>
        <tbody>
        {% for rel in data.dataproviderrelation_set.all %}
          <tr>
            <td>
              <a
                href="{% url 'provider:detail' rel.provider.pk %}">{{ rel.provider.name }}</a>
            </td>
            <td>{{ rel.get_role_display }}</td>
            <td>
              {% if rel.provider.is_network %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            <td class="row">
              {% if not user|has_group:READ_ONLY_GROUP %}
                {% if rel.state == 'draft' %}
                  {% if request.user == rel.created_by or request.user == data.created_by or request.user.is_superuser or request.user in rel.created_by.team.teammates.all or user_perm %}
                    <a href="{% url 'data:provider:edit' group_pk=data.pk pk=rel.pk %}" class="col-sm-6">
                      <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{% url 'data:provider:delete' group_pk=data.pk pk=rel.pk %}" class="col-sm-6">
                      <span class="glyphicon glyphicon-trash"></span>
                    </a>
                  {% endif %}
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <h3 class="col-sm-12">
      <span>Requirements</span>
    </h3>
    <div class="col-sm-12">
      <table id="requirements"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Requirement</th>
          <th>Level of compliace</th>
          <th class="no-sort">Note</th>
          <th class="no-sort">Information costs</th>
          <th class="no-sort">Handling costs</th>
        </tr>
        </thead>
        <tbody>
        {% for rel in data.datarequirement_set.all %}
          <tr>
            <td>
              <a
                href="{% url 'requirement:detail' rel.requirement.pk %}">{{ rel.requirement }}</a>
            </td>
            <td> {{ rel.level_of_compliance }} </td>
            <td> {{ rel.note }} </td>
            <td>
              {% if rel.information_costs %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
            <td>
              {% if rel.handling_costs %}
                <span class='glyphicon glyphicon-ok-circle text-success'></span>
              {% else %}
                <span class='glyphicon glyphicon-remove-circle text-danger'></span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(function () {
      var data_name = '{{ data.name | escapejs }}'
      var data_title = data_name
      data_name = data_name.split(' ').join('_')
      var buttonCommon = {
        exportOptions: {
          format: {
            body: function ( data, row, column, node ){
              if (row === 2 ){
                if(data.indexOf('glyphicon-ok-circle') != -1){
                  return 'Yes'
                }
                else{
                  return 'No'
                }
              }
              if (row === 0){
                return $.parseHTML(data)[0].innerHTML
              }
              if (row == 3){
                return ''
              }
              return data
            }
          }
        }
      }
      var table = $('#providers').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "buttons": [
        $.extend( true, {}, buttonCommon,{
          extend: 'pdf',
          exportOptions: { orthogonal: 'export' },
          text: 'Save as PDF',
          filename: 'CIS2_Data_' +  data_name + '_relation_with_data_providers',
          title: 'CIS2 Data "' + data_title + '" relation with data providers',
          orientation: 'portrait',
          exportOptions: {
            modifier: {
              page: 'all'
            }
          },
          customize: function ( doc ){
            var cols = [];
            var created = new Date().toDateString();
            cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
            var objFooter = {};
            objFooter['columns'] = cols;
            doc['footer']=objFooter;
          }
        }),
        $.extend( true, {}, buttonCommon,{
          extend: 'excel',
          filename: 'CIS2_Data_' +  data_name + '_relation_with_data_providers',
          title: 'CIS2 Data "{{ data.name }}" relation with data providers',
          text: 'Save as Excel',
        }),
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "drawCallback": function(settings) {
          var info = $(this).closest('.dataTables_wrapper').find('.dataTables_info');
          info.toggle(this.api().page.info().recordsDisplay > 9);
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    });
  </script>

  <script nonce="{{request.csp_nonce}}">
    $(function () {
      var data_name = '{{ data.name | escapejs }}'
      var data_title = data_name
      data_name = data_name.split(' ').join('_')
      var buttonCommon = {
        exportOptions: {
          format: {
            body: function ( data, row, column, node ){
              if (row === 3 || row === 4 ){
                if(data.indexOf('glyphicon-ok-circle') != -1){
                  return 'Yes'
                }
                else{
                  return 'No'
                }
              }
              if (row === 0){
                return $.parseHTML(data)[0].innerHTML
              }
              return data
            }
          }
        }
      }
      var table = $('#requirements').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "buttons": [
        $.extend( true, {}, buttonCommon,{
          extend: 'pdf',
          exportOptions: { orthogonal: 'export' },
          text: 'Save as PDF',
          filename: 'CIS2_Data_' +  data_name + '_relation_with_requirements',
          title: 'CIS2 Data "' + data_title + '" relation with requirements',
          orientation: 'portrait',
          exportOptions: {
            modifier: {
              page: 'all'
            }
          },
            customize: function ( doc ){
            doc.pageMargins = [12,12,12,12]
            var cols = [];
            var created = new Date().toDateString();
            cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
            var objFooter = {};
            objFooter['columns'] = cols;
            doc['footer']=objFooter;
          }
        }),
        $.extend( true, {}, buttonCommon,{
          extend: 'excel',
          filename: 'CIS2_Data_' +  data_name + '_relation_with_requirements',
          title: 'CIS2 Data "' + data_title + '" relation with requirements',
          text: 'Save as Excel',
        }),
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "drawCallback": function(settings) {
          var info = $(this).closest('.dataTables_wrapper').find('.dataTables_info');
          info.toggle(this.api().page.info().recordsDisplay > 9);
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    });
  </script>
{% endblock %}
