{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <style>
    .container {
      width: auto !important;
    }

    .filters select {
      max-width: 120px;
      margin-right: 10px;
    }
  </style>
{% endblock %}

{% block title %}
  Data
{% endblock %}

{% block content %}
  <div id="ajax-url" data-ajax-url="{% url 'data:json' %}"></div>
  <div class="row">
    <h1 class="col-sm-12">
      <span>Data</span>
      <span class="pull-right">
          <a class="btn btn-primary pull-right"
             href="{% url 'data:add' %}">New data</a>
        </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body filters form-inline">

          <div class="form-group filters-style">
            <label for="update_frequency">Update Frequency:</label>
            <select id="update_frequency" class="form-control">
              {% for update_frequency in update_frequencies %}
                <option value="{{ update_frequency }}">{{ update_frequency }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="area">Area:</label>
            <select id="area" class="form-control">
              {% for area in areas %}
                <option value="{{ area }}">{{ area }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="timeliness">Timeliness:</label>
            <select id="timeliness" class="form-control">
              {% for timeliness in timelinesses %}
                <option value="{{ timeliness }}">{{ timeliness }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="data_policy">Data Policy:</label>
            <select id="data_policy" class="form-control">
              {% for data_policy in data_policies %}
                <option value="{{ data_policy }}">{{ data_policy }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="data_type">Data type:</label>
            <select id="data_type" class="form-control">
              {% for data_type in data_types %}
                <option value="{{ data_type }}">{{ data_type }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="data_format">Data format:</label>
            <select id="data_format" class="form-control">
              {% for data_format in data_formats %}
                <option value="{{ data_format }}">{{ data_format }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="quality_control_procedure">Quality Control Procedure:</label>
            <select id="quality_control_procedure" class="form-control">
              {% for quality in quality_control_procedures %}
                <option value="{{ quality }}">{{ quality }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="dissemination">Dissemination:</label>
            <select id="dissemination" class="form-control">
              {% for dissemination in disseminations %}
                <option value="{{ dissemination }}">{{ dissemination }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <label for="state">State:</label>
            <select id="state" class="form-control">
              {% for state in states %}
                <option value="{{ state.name }}">{{ state.title }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group filters-style">
            <button type="button" class="btn btn-default"
                    id="reset-btn"><span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <table id="data" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Name</th>
          <th>Update Frequency</th>
          <th>Area</th>
          <th>Timeliness</th>
          <th>Data Policy</th>
          <th>Data type</th>
          <th>Data format</th>
          <th>Quality Control Procedure</th>
          <th>Dissemination</th>
          <th>State</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fnFilterOnReturn.js' %}"></script>
  <script src="{% static 'js/data_list.js' %}"></script>
{% endblock %}
