{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Add a new product
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new product</span>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_field form.acronym placeholder="Official product acronym, if available, else leave it empty." %}

    {% bootstrap_field form.name required_css_class='required' placeholder="Original name from official website or Product portfolio of the Cop. Service Component. No acronym in this field." %}

    {% bootstrap_field form.description placeholder="It must provide the user a clear idea of what the  product consist of.&#10;The description could be taken directly from the relevant Copernicus Product portfolio or Websites (summary text) or, as last option, it should come from the Service.&#10;Further add URL to product description, if available." %}

    {% bootstrap_field form.group required_css_class='required' placeholder="Choose the proper Group from the drop-down list." addon_after='<a target="_blank" href="/help#productgroup"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.component required_css_class='required' %}

    {% bootstrap_field form.status required_css_class='required' addon_after='<a target="_blank" href="/help#status"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.area required_css_class='required' addon_after='<a target="_blank" href="/help#area"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.note %}
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'product:list' %}"
       class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(document).ready(function () {
      $('select').select2({
        allowClear: true
      });
    });
  </script>
{% endblock %}
