{% extends '_layout.html' %}
{% load static %}
{% load js %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/buttons.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Product details
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Product details</span>
      {% if request.user.is_superuser %}
        <span class="pull-right margin-left-btn">
        <a class="btn btn-primary pull-right"
           href="{% url 'product:delete' product.pk %}">Delete
          product</a>
        </span>
        <span class="pull-right">
        <a class="btn btn-primary pull-right" href="{% url 'product:edit' product.pk %}">Edit
          product</a>
        </span>
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ product.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Acronym</th>
        <td class="col-md-8 col-sm-6">{{ product.acronym }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Description</th>
        <td class="col-md-8 col-sm-6">{{ product.description }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Note</th>
        <td class="col-md-8 col-sm-6">{{ product.note }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Status</th>
        <td class="col-md-8 col-sm-6">{{ product.status }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Group</th>
        <td class="col-md-8 col-sm-6">{{ product.group }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Area</th>
        <td class="col-md-8 col-sm-6">{{ product.area }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Component</th>
        <td class="col-md-8 col-sm-6">
          <span data-toggle="popover"
                title="{{ product.component }}"
                data-content="{% include 'popovers/component.html' with component=product.component %}">
            {{ product.component }}
            <span class="glyphicon glyphicon-info-sign small"></span>
          </span>
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Service</th>
        <td class="col-md-8 col-sm-6">
          <span data-toggle="popover"
                title="{{ product.component.service }}"
                data-content="{% include 'popovers/service.html' with service=product.component.service %}">
            {{ product.component.service }}
            <span class="glyphicon glyphicon-info-sign small"></span>
          </span>
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Entrusted Entity</th>
        <td class="col-md-8 col-sm-6">
          <span data-toggle="popover"
                title="{{ product.component.entrusted_entity }}"
                data-content="{% include 'popovers/entity.html' with entity=product.component.entrusted_entity %}">
            {{ product.component.entrusted_entity }}
            <span class="glyphicon glyphicon-info-sign small"></span>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h3 class="col-sm-12">
      <span>Requirements</span>
    </h3>
    <div class="col-sm-12">
      <table id="requirements"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>UID</th>
          <th>Requirement</th>
          <th>Level of definition</th>
          <th>Relevant for</th>
          <th>Criticality</th>
          <th class="no-sort">Barriers</th>
          <th class="no-sort">Note</th>
        </tr>
        </thead>
        <tbody>
        {% for rel in product.productrequirement_set.all %}
          <tr>
            <td>{{ rel.requirement.pk }}</td>
            <td>
              <a
                href="{% url 'requirement:detail' rel.requirement.pk %}">{{ rel.requirement.name }}</a>
            </td>
            <td>{{ rel.level_of_definition }}</td>
            <td>{{ rel.relevance }}</td>
            <td>{{ rel.criticality }}</td>
            <td>
              {% for barrier in rel.barriers.all %}
                <div>{{ barrier }}</div>
              {% endfor %}
            </td>
            <td>{{ rel.note }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script>
    $(function () {
      $('[data-toggle="popover"]').popover({
        trigger: 'click',
        placement: 'right',
        html: true,
        container: 'table'
      });

      $(document).on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            (($(this).popover('hide').data('bs.popover')||{}).inState||{}).click = false;
          }
        });
      });
      var product_name = '{{ product.name | js }}'
      var product_title = product_name
      product_name = product_name.split(' ').join('_')
      var table = $('#requirements').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "lengthMenu": [
          [ 10, 25, 50, -1 ],
          [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        "buttons": [{
          extend: 'pdf',
          exportOptions: { orthogonal: 'export' },
          text: 'Save as PDF',
          filename: 'CIS2_Product_' +  product_name + '_relation_with_requirements',
          title: 'CIS2 Product "' + product_title + '" relation with requirements',
          orientation: 'portrait',
          customize: function ( doc ){
            var cols = [];
            var created = new Date().toDateString();
            cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
            var objFooter = {};
            objFooter['columns'] = cols;
            doc['footer']=objFooter;
          }
        },
        {
          extend: 'excel',
          filename: 'CIS2_Product_' +  product_name + '_relation_with_requirements',
          title: 'CIS2 Product "' + product_title + '" relation with requirements',
          text: 'Save as Excel',
        },
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "drawCallback": function(settings) {
          var info = $(this).closest('.dataTables_wrapper').find('.dataTables_info');
          info.toggle(this.api().page.info().recordsDisplay > 9);
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    });
  </script>
{% endblock %}
