{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
{% endblock %}

{% block title %}
  Products
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Products</span>
      <span class="pull-right">
      <a class="btn btn-primary pull-right"
         href="{% url 'product:add' %}">New product</a>
      </span>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <table id="products" width="100%"
             class="table table-condensed table-bordered table-hover">
        <thead>
        <tr>
          <th>Acronym</th>
          <th>Name</th>
          <th>Group</th>
          <th>Service</th>
          <th>Component</th>
          <th>Entrusted entity</th>
          <th>Status</th>
          <th>Coverage</th>
        </tr>
        </thead>
      </table>
    </div>

    <div class="col-sm-2">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="service">Service:</label>
            <select id="service" class="form-control">
              {% for service in services %}
                <option value="{{ service }}">{{ service }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="entity">Entrusted Entity:</label>
            <select id="entity" class="form-control">
              {% for entity in entities %}
                <option value="{{ entity }}">{{ entity }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="component">Component:</label>
            <select id="component" class="form-control">
              {% for component in components %}
                <option value="{{ component }}">{{ component }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="group">Group:</label>
            <select id="group" class="form-control">
              {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" class="form-control">
              {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="coverage">Coverage:</label>
            <select id="coverage" class="form-control">
              {% for coverage in coverages %}
                <option value="{{ coverage }}">{{ coverage }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary"
                    id="filter-btn">Filter
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      var $table = $('#products').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
          "url": "{% url 'product:json' %}",
          "data": function (d) {
            d.service = $('#service').val();
            d.component = $('#component').val();
            d.entity = $('#entity').val();
            d.group = $('#group').val();
            d.status = $('#status').val();
            d.coverage = $('#coverage').val();
          }
        }
      });

      $('#filter-btn').on('click', function () {
        var table = $table.DataTable();
        table.ajax.reload();
      });


      $('#service,#entity').change(function () {
        var service = $('#service').val();
        var entity = $('#entity').val();
        $.get(
          "{% url 'product:filter_components' %}",
          {
            'entity': entity,
            'service': service
          },
          function (data) {
            var select = $('#component');
            select.find('option').remove();
            for (var i = 0; i < data.length; i++) {
              select.append(
                '<option value=' + data[i] + '>' + data[i] + '</option>')
            }
          }
        );
      });
    });
  </script>
{% endblock %}
