{% extends '_layout.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <style>
   .container {
     width:auto!important;
   }

   .filters select {
     max-width: 120px;
     margin-right: 10px;
   }
  </style>
{% endblock %}

{% block title %}
  Products
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Products</span>
      {% if request.user.is_superuser %}
        <span class="pull-right">
        <a class="btn btn-primary pull-right"
           href="{% url 'product:add' %}">New product</a>
        </span>
      {% endif %}
    </h1>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">Filters</div>
        <div class="panel-body form-inline filters">

          <div class="form-group">
            <label for="service">Service:</label>
            <select id="service" class="form-control">
              {% for service in services %}
                <option value="{{ service }}">{{ service }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="entity">Entrusted Entity:</label>
            <select id="entity" class="form-control">
              {% for entity in entities %}
                <option value="{{ entity }}">{{ entity }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="component">Component:</label>
            <select id="component" class="form-control">
              {% for component in components %}
                <option value="{{ component }}">{{ component }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="group">Group:</label>
            <select id="group" class="form-control">
              {% for group in groups %}
                <option value="{{ group }}">{{ group }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" class="form-control">
              {% for status in statuses %}
                <option value="{{ status }}">{{ status }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="coverage">Coverage:</label>
            <select id="coverage" class="form-control">
              {% for coverage in coverages %}
                <option value="{{ coverage }}">{{ coverage }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary btn-sm"
                    id="filter-btn">Filter
            </button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default btn-md"
                    id="reset-btn"><span class="glyphicon glyphicon-trash"></span>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <table id="products" class="table table-condensed table-bordered table-hover compact">
        <thead>
        <tr>
          <th>Name</th>
          <th>Service</th>
          <th>Entrusted entity</th>
          <th>Component</th>
          <th>Group</th>
          <th>Status</th>
          <th>Coverage</th>
        </tr>
        </thead>
      </table>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/fnFilterOnReturn.js' %}"></script>
  <script>
    $(document).ready(function () {
      var $table = $('#products').dataTable({
        "processing": true,
        "serverSide": true,
        "dom": "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        "ajax": {
          "url": "{% url 'product:json' %}",
          "data": function (d) {
            d.service = $('#service').val();
            d.component = $('#component').val();
            d.entity = $('#entity').val();
            d.group = $('#group').val();
            d.status = $('#status').val();
            d.coverage = $('#coverage').val();
          }
        }
      }).fnFilterOnReturn();

      $('#filter-btn').on('click', function () {
        var table = $table.DataTable();
        table.ajax.reload();
      });

      $('#service,#entity').change(function () {
        var service = $('#service').val();
        var entity = $('#entity').val();
        $.get(
          "{% url 'product:filter_components' %}",
          {
            'entity': entity,
            'service': service
          },
          function (response) {
            var select = $('#component');
            var data = response['components'];
            select.find('option').remove();
            for (var i = 0; i < data.length; i++) {
              select.append(
                '<option value="' + data[i] + '">' + data[i] + '</option>')
            }
          }
        );
      });

      $('#reset-btn').on('click', function () {
        $('#service,#entity,#component,#group,#status,#coverage').val('All');
        var table = $table.DataTable();
        table.ajax.reload();
        table.search('').draw();
      });
    });
  </script>
{% endblock %}
