{% extends '_layout.html' %}
{% load bootstrap3 %}

{% block title %}
  Delete {{ responsible.name }}
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Delete data responsible network</p>
      <p class="col-sm-12"><small>{{ responsible.name }}</small></p>
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-12">
      Are you sure you want to delete this <b>  data responsible network </b>?
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete"/>
        <a href="{% url 'responsible:detail' responsible.pk %}"
           class="btn btn-default">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
