<div class="row" id="data_provider_definitions">
  <a href="#data_provider_definitions"><h1>Data provider definitions</h1></a>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td><strong>name</strong></td>
        <td><strong>description</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="data-provider"><strong>Data Provider</strong></td>
        <td>
          Individual institution, organization or commercial entity that is
          the <strong>originator</strong> or the <strong>final distributor</strong> of the in-situ data.
          A Data Provider can be part of a wider Data Provider Network.
        </td>
      </tr>
      <tr>
        <td id="data-provider-network"><strong>Data Provider Network</strong></td>
        <td>
          A network, a group or an association of institutions, organizations or
          commercial entities supporting the collection, organization and distribution
          of in situ data.
        </td>
      </tr>
      <tr>
        <td id="edmo"><strong>Edmo code</strong></td>
        <td>
          Identifier code in the European Directory of Marine Organisations
          (<a href="https://edmo.seadatanet.org/">https://edmo.seadatanet.org/</a>)
        </td>
      </tr>
    </tbody>
  </table>
</div>
