<div class="row" id="data_provider_roles">
    <a href="#data_provider_roles"><h1>Data provider roles</h1></a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td><strong>name</strong></td>
          <td><strong>description</strong></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Originator</strong></td>
          <td>
            Who is in charge of the creation, updating and maintenance of the data.
          </td>
        </tr>
        <tr>
          <td><strong>Distributor</strong></td>
          <td>
            Who is responsible for the distribution/supply of the data. The
            distributor should provide information about the data owner.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  