{% load utils %}
{% load bootstrap3 %}
{% if initial %}
  {% get_metric_value initial name 'threshold' as threshold %}
  {% get_metric_value initial name 'breakthrough' as breakthrough %}
  {% get_metric_value initial name 'goal' as goal %}
{% endif %}

<div class="form-group container {% if form.non_field_errors %}has-error{% endif %}">
  <div class=" ">
    <div class="col-md-3">
      <input type="text" name="{{ name }}__threshold"
             maxlength="100" class=" form-control"
             {% if threshold %} value="{{ threshold }}"{% endif %}
             id="id_{{ name }}__threshold" placeholder="Threshold">
    </div>
    <div class="col-md-3">
      <input type="text" name="{{ name }}__breakthrough"
             maxlength="100" class=" form-control"
             {% if breakthrough %} value="{{ breakthrough }}"{% endif %}
             id="id_{{ name }}__breakthrough" placeholder="Breakthrough">
    </div>
    <div class="col-md-3">
      <input type="text" name="{{ name }}__goal" maxlength="100"
             class=" form-control" id="id_{{ name }}_goal"
             {% if goal %} value="{{ goal }}"{% endif %}
             id="id_{{ name }}__goal" placeholder="Goal">
    </div>
  </div>
</div>
