{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
  <style nonce="{{request.csp_nonce}}" type="text/css">
    .separator {
      width: 100%;
      min-width: 100px;
      border-top: 1px solid #935239;
  
      margin-top: 5px;
      margin-bottom: 45px;
    }
  </style>
{% endblock %}


{% block title %}
  Add a new use case
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new use case</span>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}

  <form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.title required_css_class='required' %}

    {% bootstrap_field form.data_provider required_css_class='required' %}

    {% bootstrap_field form.data required_css_class='required' %}

    {% bootstrap_field form.image required_css_class='required' %}

    {% bootstrap_field form.image_description required_css_class='required' %}

    {% bootstrap_field form.description required_css_class='required' %}

    <div class="form-group">
      <label class="control-label" for="id_copernicus_service">Service</label>
      <select name="copernicus_service" class="form-control" title="" id="id_copernicus_service">
        {% for service in copernicus_services %}
          {% if object.copernicus_service.id == service.id %}
            <option value="{{ service.id }}" class="{{ service.id }}" selected>{{ service.name }}</option>
          {% else %}
            <option value="{{ service.id }}" class="{{ service.id }}">{{ service.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label class="control-label" for="id_components">Component</label>
      <select name="components" class="form-control" title="" id="id_component" multiple="multiple">
        {% for component in components %}
          {% if component in  object.components.all %}
            <option value="{{ component.id }}" class="{{ component.service.id }}" selected>{{ component.name }}</option>
          {% else %}
            <option value="{{ component.id }}" class="{{ component.service.id }}">{{ component.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    {% bootstrap_field form.themes required_css_class='required' %}
        
    {% bootstrap_field form.country required_css_class='required' %}
    
    {% bootstrap_field form.region %}
    
    {% bootstrap_field form.locality %}


  <div class="row">
    <h1 class="col-sm-12">
      <span>References</span>
    </h1>
  </div>
  <div class="separator"></div>

    <table class="table">
      {{ references.management_form }}

      {% for form in references.forms %}
          {% if forloop.first %}
              <thead>
              <tr>
                  {% for field in form.visible_fields %}
                      <th>{{ field.label|capfirst }}</th>
                  {% endfor %}
              </tr>
              </thead>
          {% endif %}
          <tr class="{% cycle row1 row2 %} formset_row">
              {% for field in form.visible_fields %}
                  <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                          {% for hidden in form.hidden_fields %}
                              {{ hidden }}
                          {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                  </td>
              {% endfor %}
          </tr>
      {% endfor %}
    </table>

    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'use_cases:list' %}"
       class="btn btn-default">Cancel</a>
  </form>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/formset/jquery.formset.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(document).ready(function () {
      $('select').select2();
      $('.formset_row').formset({
          addText: '<h4><b>Add reference</b></h4>',
          deleteText: 'Remove',
          prefix: 'reference_set'
      });

      // service and components dependant select
      var allOptions = $('#id_component option')
      $('#id_copernicus_service').change(function () {
        $('#id_component option').remove();
        var classes = [];
        $('#id_copernicus_service option:selected').each(function( index ) {
          classes.push($(this).prop('class'));
        });
        var opts = allOptions.filter( function(index) {
          return $.inArray($(this).prop('class'), classes) > -1;
        });
        $.each(opts, function (i, j) {
          $(j).appendTo('#id_component');
        });
      });
    });

    document.onreadystatechange = function () {
      if (document.readyState === "complete") {
        var allOptions = $('#id_component option')
        var classes = [];
        $('#id_component option').remove();
        $('#id_copernicus_service option:selected').each(function( index ) {
          classes.push($(this).prop('class'));
        });
        var opts = allOptions.filter( function(index) {
          return $.inArray($(this).prop('class'), classes) > -1;
        });
        $.each(opts, function (i, j) {
          $(j).appendTo('#id_component');
        });
      }
    }
  </script>
{% endblock %}
