{% extends '_layout.html' %}
{% load static %}
{% load utils %}

{% block style %}
  <style nonce="{{request.csp_nonce}}" type="text/css">
    .title {
      font-weight: bold;
      margin-bottom: 15px;
    }
    .img {
      width: auto;
      max-height: 600px;
    }
    .theme-text {
      color: #935239;
    }
    .body {
      font-size: 18px;
      line-height: 1.3;
      /* background-color: #f0f5f9; */
      border-left: 1px solid #935239;
      border-right: 1px solid #935239;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 12px;
      border-radius: 20px;
    }
    .img-section {

      padding: 12px;
    }

    .separator {
      width: 30%;
      min-width: 100px;
      /* border-top: 1px solid #bbb; */
      border-top: 1px solid #935239;

      margin-top: 10px;
      margin-bottom: 10px;
    }

    .tags {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }
    .tags > div{
      box-shadow: 1px 1px 3px #ddd;
      border-radius: 12px;
      border: 1px solid #eee;
      padding: 12px;
      
    }
    .sub-header {
      display: flex;
      flex-direction: column;
    }
    .services {
      margin-top: 10px;
    }
    .titleRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
  </style>
{% endblock %}

{% block title %}
  Use case details
{% endblock %}

{% block content %}
  <div class="titleRow">
    <h1 class="title">{{ object.title }}</h1>
  </div>
  {% if user == object.created_by and object.state == 'draft' %}
  <div class="titleButtons pull-right margin-left-btn">
    <a class="btn btn-primary"
    href="{% url 'use_cases:delete' object.pk %}">Delete use case</a>
    <a class="btn btn-primary" href="{% url 'use_cases:edit' object.pk %}">Edit use case</a>
  </div>
  <div class="separator"></div>
{% endif %}
  <!-- Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="exampleModal" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <p>Are you sure? This item will be moved in <i id="target-source-name"></i> state. </p>
            <div id="changes-requested-feedback" class="form-group purple-border">
              <label for="exampleFormControlTextarea4">Feedback
                <small>*(use this field to inform the owner of the changes that should be made)</small>
              </label>
              <textarea class="form-control" id="feedback" rows="3" name="feedback"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="submit">Accept</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    {% if not user|has_group:READ_ONLY_GROUP and user.is_authenticated %}
      {% if object.created_by == request.user %}
        {% if object.state == 'draft' %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-target-name="Publication requested" data-transition="Request publication"
            data-href="{% url 'use_cases:transition' pk=object.pk source='draft' target='publication_requested' transition='request_publication' %}" >
              Request publication
          </a>
        {% endif %}

        {% if object.state == 'publication_requested' %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-target-name="Draft"
            data-href="{% url 'use_cases:transition' pk=object.pk source='publication_requested' target='draft' transition='return_to_draft' %}">
              Return to draft
          </a>
        {% endif %}
        {% if object.state == 'changes' %}
          <a class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal"
            data-target-name="Draft"
            data-href="{% url 'use_cases:transition' pk=object.pk source='changes' target='draft' transition='return_to_draft' %}">
            Return to draft
          </a>
        {% endif %}
      {% endif %}

      {% if user|has_group:USE_CASES_PUBLISHER_GROUP %}
        {% if object.state == 'publication_requested' %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-target-name="Published"
            data-href="{% url 'use_cases:transition' pk=object.pk source='publication_requested' target='published' transition='publish' %}">
            Publish
          </a>
        {% endif %}
        {% if object.state == 'publication_requested' %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-target-name="Changes requested"
            data-href="{% url 'use_cases:transition' pk=object.pk source='publication_requested' target='changes' transition='request_changes' %}">
            Request changes
          </a>
        {% endif %}
        {% if object.state == 'published' %}
          <a class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
            data-target-name="Draft"
            data-href="{% url 'use_cases:transition' pk=object.pk source='published' target='draft' transition='return_to_draft' %}">
            Return to draft
          </a>
        {% endif %}
      {% endif %}
    {% endif %}
  </div>

  <div>
    <i>
      <b>State: </b>
      {{ object.get_state_title }}
    </i>
  </div>

  {% if user.is_authenticated %}
  <div>
    <i>
      <b>Created by: </b>
      {{ object.created_by }}
    </i>
  </div>
  {% endif %}

  {% if object.feedback %}
    <div>
      <i>
        <b>Feedback:</b>
        {{ object.feedback }}
      </i>
      {%if object.created_by == user %}
      <a class="btn btn-primary" 
      href="{% url 'use_cases:clear_feedback' pk=object.pk %}" >
        Clear feedback
    </a>
    {% endif %}
    </div>
 
  {% endif %}
  <div class="separator"></div>

  <div class="sub-header">

    <i>
      <b>Provider: </b>
      {{ object.data_provider }}
    </i>
    <i>
      <b>
        Dataset: 
      </b>
      {{ object.data }}
    </i>
  </div>
  <div class="separator"></div>

  <div class="img-section"><img class="img" src="{{ object.image.url }}">
    <div class="image-desc theme-text"><small><i>{{ object.image_description }}</i></small></div>
  </div>

  <div class="separator"></div>
  
  
  <div class="body">
    {{ object.description }}
    <div class="services">
      <i class="theme-text"><b>Copernicus service:</b> {{ object.copernicus_service.name }}</i>
    </div>
    <div class="components">
      <i class="theme-text">
      <b>Components:</b>
      {% for component in object.components.all %}
        <a href="{% url 'product:list'  %}?component={{ component.name }}">{{ component }}</a>
      {% endfor %}
    </i>
    </div>
    <div class="themes">
      {% with object.themes.all as themes %}
        {% if themes|length == 1 %}
          <i class="theme-text"><b>Theme:</b> {{ themes.0.name }}</i>
        {% elif themes|length > 1 %}
          <b><i class="theme-text">Themes:</i></b>
          <small>
            <ul>
              {% for theme in themes %}
              <li>{{ theme.name }}</li>
              {% endfor %}
            </ul>
          </small>
        {% endif %}
      {% endwith %}
    </div>

    <div class="references">
      {% with object.reference_set.all as references %}
        {% if references|length == 1 %}
            <i class="theme-text"><b>Reference:</b> <a href="{{ references.0.link }}" target="_blank">{{ references.0.source }} ( {{references.0.date }} )</a></i>
        {% elif references|length > 1 %}
          <b><i class="theme-text">References:</i></b>
          <small>
            <ul>
              {% for reference in references %}
              <li>{{ reference.source }} ( {{reference.date }} )</li>
              {% endfor %}
            </ul>
          </small>
        {% endif %}
      {% endwith %}
    </div>


  </div>


  <div class="tags">
    <div><b>Country</b>: {{ object.country }}</div>
    <div><b>Region</b>: {{ object.region }}</div>
    <div><b>Locality</b>: {{ object.locality }}</div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/use_cases_detail.js' %}"></script>
{% endblock %}
