{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/select2.min.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'css/select2-bootstrap.min.css' %}"/>
<style nonce="{{request.csp_nonce}}" type="text/css">
  
  .usecase-list li {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  .separator {
    width: 100%;
    min-width: 100px;
    border-top: 1px solid #935239;

    margin-top: 5px;
    margin-bottom: 5px;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    margin: 10px 0;
  }

  .usecase-list {
    margin-top: 30px;
    list-style-type: square;
  }


.formFields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  align-items: flex-start;

}

.formFields .form-group {
  flex: 1;
  margin: 0 10px;
}

.formFields .form-group .select2-selection.select2-selection--single {
  height: 32px;
}

.formFields label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formFields input[type="text"],
.formFields select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}

#reset-btn {
  margin-right: 5px;
}


.form-group.small {
  flex: 0 0 auto;
  margin: 0;
  margin-top: 23px;
}
</style>
{% endblock %}

{% block title %}
  Use cases
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <div class="header-wrapper">
    <h1 class="header">Use cases</h1>
    <a class="btn btn-primary" href="{% url 'use_cases:add' %}">New use case</a>
  </div>
  <div class="separator"></div>
{% endif %}
  <br/> 
  <br/> 

  <form method="GET">
    <div class="formFields">
      {% bootstrap_field filterset.form.country %}
      {% bootstrap_field filterset.form.themes %}
      {% bootstrap_field filterset.form.copernicus_services %}
      <div class="form-group small">

        <button type="button" class="btn btn-default btn-md" id="reset-btn"><span class="glyphicon glyphicon-trash"></span>
        </button>
        <input class="btn btn-primary" type="submit" />
      </div>
    </div>
  </form>

  <ul class="usecase-list">
    {% for usecase in object_list %}
        <li><a href="{% url 'use_cases:detail' pk=usecase.pk %}">{{ usecase.title }}</a></li>
    {% empty %}
        <li>No use cases yet.</li>
    {% endfor %}
  </ul>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(document).ready(function () {
      $("#reset-btn").click(function(){
        window.location.href = window.location.href.split(/[?#]/)[0];
      })
      $(".form-group").removeClass("has-success")
      $('select').select2();
    });
  </script>
{% endblock %}