{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Use case change state
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">{{ object }}</h1>
    <h3 class="col-sm-12 text-muted">Mark use case as {{ target }}</h3>
  </div>
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      {% if target == 'changes' %}
        <div class="form-group purple-border">
          <label for="exampleFormControlTextarea4">Feedback
            <small>*(use this field to inform the owner of the changes that should be made)</small>
          </label>
          <textarea class="form-control" id="feedback" rows="3" name="feedback"></textarea>
        </div>
      {% endif %}
      <button class="btn btn-primary" type="submit">
        Accept
      </button>
      <a class="btn btn-default"
         href="{% url 'use_cases:detail' pk=object.pk %}">Cancel</a>
    </form>
  </div>
{% endblock %}
