<div>
  <div class='row'>
        <label class='col-sm-4 col-lg-2 col-lg-2'>Name: </label>
        <span class='col-sm-8 col-lg-10'>{{ component.name }}</span>
  </div>
  <div class='row'>
        <label class='col-sm-4 col-lg-2'>Acronym: </label>
        <span class='col-sm-8 col-lg-10'>{{ component.acronym }}</span>
  </div>
  <div class='row'>
        <label class='col-sm-4 col-lg-2'>Service: </label>
        <span class='col-sm-8 col-lg-10'>{{ component.service }}</span>
  </div>
  <div class='row'>
        <label class='col-sm-4 col-lg-2'>Entrusted Entity: </label>
        <span class='col-sm-8 col-lg-10'>{{ component.entrusted_entity }}</span>
  </div>
</div>
