<div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2 col-lg-2'>Name: </label>
    <span class='col-sm-8 col-lg-10'>{{ entity.name }}</span>
  </div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2'>Acronym: </label>
    <span class='col-sm-8 col-lg-10'>{{ entity.acronym }}</span>
  </div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2'>Website: </label>
    <span class='col-sm-8 col-lg-10'>
      <a target='_blank' href='{{ entity.website }}'>{{ entity.website }}</a>
    </span>
  </div>
</div>
