{% load static %}
<div>
  <div class='row'>
    <div class='col-sm-4 col-lg-2 col-lg-2 rectangle' style='background:orange'>
    </div>
    <label class='col-sm-4 col-lg-2 col-lg-2'>Threshold</label>
  </div>
    <div class='row'>
    <div class='col-sm-4 col-lg-2 col-lg-2 rectangle' style='background:blue'>
    </div>
    <label class='col-sm-4 col-lg-2 col-lg-2'>Breakthrough</label>
  </div>
    <div class='row'>
    <div class='col-sm-4 col-lg-2 col-lg-2 rectangle' style='background:green'>
    </div>
    <label class='col-sm-4 col-lg-2 col-lg-2'>Goal</label>
  </div>
</div>
