<div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2 col-lg-2'>Name: </label>
    <span class='col-sm-8 col-lg-10'>{{ service.name }}</span>
  </div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2'>Acronym: </label>
    <span class='col-sm-8 col-lg-10'>{{ service.acronym }}</span>
  </div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2'>Description: </label>
    <span class='col-sm-8 col-lg-10'>{{ service.description }}</span>
  </div>
  <div class='row'>
    <label class='col-sm-4 col-lg-2'>Website: </label>
    <span class='col-sm-8 col-lg-10'>{{ service.website }}</span>
  </div>
</div>
