{% extends '_layout.html' %}
{% load bootstrap3 %}

{% block title %}
  Edit {{ rel.product.name }} - {{ rel.requirement.name }} relation
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit relation</p>
      <p class="col-sm-12">
        <small>{{ rel.product.name }} - {{ rel.requirement.name }}</small>
      </p>
    </h1>
  </div>

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="hidden" name="product" value="{{ rel.product.pk }}" />
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href={{ url }}
           class="btn btn-default">Cancel</a>
  </form>
{% endblock %}
