{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Edit {{ rel.product.name }} - {{ rel.requirement.name }} relation
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit relation</p>
      <p class="col-sm-12">
        <small>{{ rel.product.name }} - {{ rel.requirement.name }}</small>
      </p>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}
  {% bootstrap_form_errors form %}
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_field form.requirement required_css_class='required' %}

    {% bootstrap_field form.product required_css_class='required' %}

    {% bootstrap_field form.note %}

    {% bootstrap_field form.level_of_definition required_css_class='required' addon_after='<a target="_blank" href="help#definitionlevel"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.relevance required_css_class='required' addon_after='<a target="_blank" href="help#relevance"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.criticality required_css_class='required' addon_after='<a target="_blank" href="help#criticality"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.barriers required_css_class='required' addon_after='<a target="_blank" href="help#barrier"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <input type="hidden" name="product" value="{{ rel.product.pk }}" />
    <input type="hidden" name="requirement" value="{{ rel.requirement.pk }}" />
    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{{ url }}"
       class="btn btn-default">Cancel</a>
  </form>
  {% bootstrap_form_errors form %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
