{% extends '_layout.html' %}
{% load bootstrap3 %}

{% block title %}
  Delete {{ rel.data.name }} - {{ rel.requirement.name }} relation
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <p class="col-sm-12">Delete relation</p>
      <p class="col-sm-12">
        <small>{{ rel.data.name }} - {{ rel.requirement.name }}</small>
      </p>
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Are you sure you want to delete this <strong> relation </strong>?
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-12">
      <form method="POST">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" value="Delete"/>
        <a href="{{ url }}"
             class="btn btn-default">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
