{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Edit {{ rel.data.name }} - {{ rel.requirement.name }} relation
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block content %}

  <div class="row">
    <h1>
      <p class="col-sm-12">Edit relation</p>
      <p class="col-sm-12">
        <small>{{ rel.data.name }} - {{ rel.requirement.name }}</small>
      </p>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_field form.data required_css_class='required' %}

    {% bootstrap_field form.requirement %}

    {% bootstrap_field form.information_costs %}

    {% bootstrap_field form.handling_costs %}

    {% bootstrap_field form.note %}

    {% bootstrap_field form.level_of_compliance required_css_class='required' addon_after='<a target="_blank" href="help#compliancelevel"><span class="glyphicon glyphicon-question-sign"></span></a>' %}
    <input type="hidden" name="data" value="{{ rel.data.pk }}"/>
    <input class="btn btn-primary" type="submit" value="Save"/>
    <a href="{{ url }}"
       class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script>
    $(document).ready(function () {
      $('select').select2();
    });
  </script>
{% endblock %}
