{% extends '_layout.html' %}
{% load bootstrap3 %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/select2-bootstrap.min.css' %}"/>
{% endblock %}

{% block title %}
  Add a new network
{% endblock %}

{% block content %}

  <div class="row">
    <h1 class="col-sm-12">
      <span>Add a new data provider network</span>
    </h1>
  </div>

  {% include "bits/info_field_required.html" %}

  <form action="" method="POST">
    {% csrf_token %}

    {% bootstrap_field form.name required_css_class='required' show_help=True %}
    {% bootstrap_field form.native_name show_help=True %}

    {% bootstrap_field form.edmo addon_after='<a target="_blank" href="/help#edmo"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field details.provider_type required_css_class='required' addon_after='<a target="_blank" href="/help#providertype"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    {% bootstrap_field form.description %}

    {% bootstrap_field form.countries required_css_class='required' addon_after='<a target="_blank" href="/help#country"><span class="glyphicon glyphicon-question-sign"></span></a>' %}

    <input id="add_eu_28" class="btn btn-xs alert-info margin-bottom-20 display-block" value="Add EU 28 countries"/>

    {% bootstrap_field form.is_network %}

    {% bootstrap_field details.acronym %}

    {% bootstrap_field details.website %}

    {% bootstrap_field details.address %}

    {% bootstrap_field details.phone %}

    {% bootstrap_field details.email %}

    {% bootstrap_field details.contact_person %}

    <input class="btn btn-primary" type="submit" value="Save" />
    <a href="{% url 'provider:list' %}" class="btn btn-default">Cancel</a>
  </form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    $(document).ready(function () {
      eu_countries = [
      'AT', 'BE', 'BG', 'CZ', 'CY', 'DK', 'DE', 'EE', 'EL', 'ES', 'FI', 'FR',
      'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'LU', 'MT', 'NL', 'PL',
      'PT', 'RO', 'SI', 'SK', 'SE'
      ]
      $('select').select2();
      input = $('#add_eu_28')
      input.click(function() {
        if (input.val() == 'Add EU 28 countries'){
          input.val('Remove EU 28 countries');
          var selected = $('select').select2("val");
          selected.push.apply(selected, eu_countries);
          $('select').val(selected);
          $('select').trigger('change');
        }
        else{
          input.val('Add EU 28 countries');
          var selected = $('select').select2("val");
          for (var i = 0; i < eu_countries.length; i++) {
            selected = selected.filter(function(item){
              return item !== eu_countries[i]
            });
          }
          $('select').val(selected);
          $('select').trigger('change');
        };
      });
    });
  </script>
{% endblock %}
