{% extends '_layout.html' %}
{% load static %}

{% block title %}
  Data Provider Network
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/jquery.dataTables.min.css' %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/buttons.dataTables.min.css' %}"/>
{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Data provider network</span>
      {% if provider.state.name == 'draft' %}
        {% if request.user == provider.created_by or request.user.is_superuser or request.user in provider.created_by.team.teammates.all %}
          <span class="pull-right margin-left-btn">
        <a class="btn btn-primary pull-right"
           href="{% url 'provider:delete_network' provider.pk %}">Delete
          data provider</a>
        </span>
          <span class="pull-right">
        <a class="btn btn-primary"
           href="{% url 'provider:edit_network_members' provider.pk %}">
          Edit network members
        </a>
        </span>
          <span class="pull-right">
        <a class="btn btn-primary pull-right"
           href="{% url 'provider:edit_network' provider.pk %}">
          Edit data provider
        </a>
        </span>
        {% endif %}
      {% endif %}
    </h1>
  </div>

  <div class="row">
    <table id="detail-table" class="table borderless col-sm-12">
      <tbody>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Name</th>
        <td class="col-md-8 col-sm-6">{{ provider.name }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Description</th>
        <td class="col-md-8 col-sm-6">{{ provider.description }}</td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Countries</th>
        <td class="col-md-8 col-sm-6">
          {% for country in provider.countries.all %}
            <span class="col-sm-12 no-padding-left">{{ country }}</span>
          {% endfor %}
        </td>
      </tr>

      <tr class="row">
        <th class="col-md-4 col-sm-6">Members</th>
        <td class="col-md-8 col-sm-6">
          {% for member in provider.members.all %}
            <a href="{% url 'provider:detail' member.pk %}">{{ member.name }}</a>
          {% endfor %}
        </td>
      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">State</th>
        <td class="col-md-8 col-sm-6">
          {{ provider.state.title }}
          <div class="pull-right">
            {% if provider.state.name == 'draft' %}
              {% if provider.created_by == request.user or request.user in provider.created_by.team.teammates.all %}
              <a class="btn btn-primary"
                 href="{% url 'provider:transition' pk=provider.pk source='draft' target='ready' %}">
                Mark as ready
              </a>
              {% endif %}
            {% endif %}
            {% if provider.state.name == 'ready' %}
              {% if provider.created_by != request.user and request.user not in provider.created_by.team.teammates.all %}
                <a class="btn btn-primary"
                   href="{% url 'provider:transition' pk=provider.pk source='ready' target='valid' %}">
                  Mark as valid
                </a>
                <a class="btn btn-primary"
                   href="{% url 'provider:transition' pk=provider.pk source='ready' target='changes' %}">
                  Request changes
                </a>
              {% elif provider.created_by == request.user or request.user in provider.created_by.team.teammates.all %}
                 <a class="btn btn-primary"
                     href="{% url 'provider:transition' pk=provider.pk source='ready' target='draft' %}">
                    Move back to draft
                 </a>
              {% endif %}
            {% endif %}
            {% if provider.state.name == 'changes' %}
              {% if provider.created_by == request.user or request.user in provider.created_by.team.teammates.all %}
                <a class="btn btn-primary"
                   href="{% url 'provider:transition' pk=provider.pk source='changes' target='draft' %}">
                  Implement feedback
                </a>
              {% endif %}
            {% endif %}
          </div>
        </td>

      </tr>
      <tr class="row">
        <th class="col-md-4 col-sm-6">Created by</th>
        <td class="col-md-8 col-sm-6">{{ provider.created_by.get_full_name }},
          <i>{{ provider.created_by.email }}</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  {% include 'data_provider/_data_table.html' %}

{% endblock %}

{% block scripts %}
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/jquery.dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'js/buttons.flash.min.js' %}"></script>
  <script src="{% static 'js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'js/jszip.min.js' %}"></script>
  <script src="{% static 'js/pdfmake.min.js' %}"></script>
  <script src="{% static 'js/vfs_fonts.js' %}"></script>
  <script>
    $(function () {
      var data_provider_name = '{{ provider.name }}'
      data_provider_name = data_provider_name.split(' ').join('_')
      var table = $('#groups').dataTable({
        "dom": "<'row'<'col-sm-12'B>>" +
               "<'row'<'col-sm-5'i><'col-sm-12'f><'col-sm-4 display-margin'l><'col-sm-8'p>>" +
               "<'row'<'col-sm-12'tr>>" +
               "<'row'<'col-sm-12'p>>",
        "buttons": [
        {
          extend: 'pdf',
          exportOptions: { orthogonal: 'export' },
          text: 'Save as PDF',
          filename: 'CIS2_Data_Provider' +  data_provider_name + '_relation_with_data',
          title: 'CIS2 Data Provider "{{ provider.name }}" relation with data',
          orientation: 'portrait',
          exportOptions: {
            modifier: {
              page: 'all'
            }
          },
            customize: function ( doc ){
            doc.pageMargins = [12,12,12,12]
            var cols = [];
            var created = new Date().toDateString();
            cols[0] = {text: 'https://cis2.eea.europa.eu , ' + created, alignment: 'right', margin:[50, 10], };
            var objFooter = {};
            objFooter['columns'] = cols;
            doc['footer']=objFooter;
          }
        },
        {
          extend: 'excel',
          filename: 'CIS2_Data_Provider_' +  data_provider_name + '_relation_with_data',
          title: 'CIS2 Data Provider "{{ provider.name }}" relation with data',
          text: 'Save as Excel',
        },
        ],
        "language": {
          "infoFiltered": "<span class='green-text'>(filtered from _MAX_ total records)<span>",
        },
        columnDefs: [
          {
            targets: 'no-sort',
            orderable: false
          }
        ]
      });
    });
  </script>
{% endblock %}
